<section class="section">
    <div class="title-main">Ошибка</div>
    <h1 class="error404__title">
        <svg>
            <use xlink:href="#404" />
        </svg>
    </h1>
    <div class="error404__subtitle">Такой страницы не существует</div>
    <a href="#" class="btn">На главную</a>
</section>