<div class="banking-product">
    <div class="container">
        <div class="banking-product__wrapper">
            <div class="banking-product__inner js-tabs-item js-tabs-item--active" id="tab_1">
                <div class="banking-product">
                    <div class="banking-product-img">
                        <img src="/img/contribution.png" alt="Card">
                    </div>
                    <div class="banking-product-content">
                        <p class="banking-product-content__subtitle">
                            Счет Грей 50 дней
                        </p>
                        <p class="banking-product-content__title">
                            90 789,<span>23 ₽</span>
                        </p>
                    </div>
                </div>
                <div class="banking-product-requisites">
                    <div class="banking-product-requisites__descr">
                        <p class="banking-product-requisites__title">
                            Категория договора
                        </p>
                        <p class="banking-product-requisites__subtitle" id="number">
                            Выплата    
                        </p>
                    </div>
                    <div class="banking-product-requisites__descr">
                        <p class="banking-product-requisites__title">
                            Номер счета
                        </p>
                        <p class="banking-product-requisites__subtitle">
                            42301810203004500731
                        </p>
                    </div>
                    <div class="banking-product-requisites__descr">
                        <p class="banking-product-requisites__title">
                            Тип вклада
                        </p>
                        <p class="banking-product-requisites__subtitle">
                            До востребования
                        </p>
                    </div>
                    <div class="banking-product-requisites__descr">
                        <p class="banking-product-requisites__title">
                            Ставка
                            </p>
                        <p class="banking-product-requisites__subtitle">
                            0.5 %
                        </p>
                    </div>
                    <div class="banking-product-requisites__descr">
                        <p class="banking-product-requisites__title">
                            Дата открытия
                            </p>
                        <p class="banking-product-requisites__subtitle">
                            13-02-2014
                        </p>
                    </div>
                    <div class="banking-product-requisites__descr">
                        <p class="banking-product-requisites__title">
                            Пополнение
                            </p>
                        <p class="banking-product-requisites__subtitle">
                            Возможно
                        </p>
                    </div>
                    <div class="banking-product-requisites__descr">
                        <p class="banking-product-requisites__title">
                            Частичное снятие
                            </p>
                        <p class="banking-product-requisites__subtitle">
                            Возможно
                        </p>
                    </div>
                    <div class="banking-product-requisites__descr"> 
                        <p class="banking-product-requisites__title">
                            Состояние
                            </p>
                        <p class="banking-product-requisites__subtitle">
                            Открыт
                        </p>
                    </div>
                </div>
                <div class="history__inner">
            <h2 class="history-header title">
                Последние операции
                <svg>
                    <use xlink:href="#chevron-down" />
                </svg>
            </h2>
            <div class="history-form">
                <div class="history-form-setting history-form-btn filters__select-group js-filters-dropdown">
                    <svg class="filters__select-group-btn">
                        <use xlink:href="#settings-history" />
                    </svg>
                    <div class="history-form-setting__dropdown">
                        <div class="history-form-setting__inner">
                            <div class="history-form-setting__item">
                                <p class="history-form-setting__item--title">Период</p>
                                <div class="history-form-setting__item--wrapper">
                                    <button class="history-form-setting__item--btn history-form__btn">Сегодня</button>
                                    <button class="history-form-setting__item--btn history-form__btn">Вчера</button>
                                    <button class="history-form-setting__item--btn history-form__btn">В этом месяце</button>
                                    <input class="history-form__btn" type="text" name="datefilter"
                                        value="15 июня — 15 декабря" />
                                </div>
                            </div>
                            <div class="history-form-setting__item">
                                <p class="history-form-setting__item--title">Счета и карты</p>
                                <label href="#" class="card-item">
                                    <div class="card-img">
                                        <img src="/img/card_2.png" alt="Card">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-content__subtitle">
                                            Дебетовая карт *1256
                                        </p>
                                        <p class="card-content__title">
                                            90 789,<span>23 ₽</span>
                                        </p>
                                    </div>
                                    <div class="card-checkbox">
                                        <input type="checkbox">
                                        <span class="card-checkbox__false"></span>
                                    </div>
                                </label>
                                <label href="#" class="card-item">
                                    <div class="card-img">
                                        <img src="/img/card_2.png" alt="Card">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-content__subtitle">
                                            Дебетовая карт *1256
                                        </p>
                                        <p class="card-content__title">
                                            90 789,<span>23 ₽</span>
                                        </p>
                                    </div>
                                    <div class="card-checkbox">
                                        <input type="checkbox">
                                        <span class="card-checkbox__false"></span>
                                    </div>
                                </label>
                            </div>
                            <div class="history-form-setting__item">
                                <p class="history-form-setting__item--title">Кредиты</p>
                                <label href="#" class="card-item">
                                    <div class="card-img">
                                        <img src="/img/card_2.png" alt="Card">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-content__subtitle">
                                            Дебетовая карт *1256
                                        </p>
                                        <p class="card-content__title">
                                            90 789,<span>23 ₽</span>
                                        </p>
                                    </div>
                                    <div class="card-checkbox">
                                        <input type="checkbox">
                                        <span class="card-checkbox__false"></span>
                                    </div>
                                </label>
                                <label href="#" class="card-item">
                                    <div class="card-img">
                                        <img src="/img/card_2.png" alt="Card">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-content__subtitle">
                                            Дебетовая карт *1256
                                        </p>
                                        <p class="card-content__title">
                                            90 789,<span>23 ₽</span>
                                        </p>
                                    </div>
                                    <div class="card-checkbox">
                                        <input type="checkbox">
                                        <span class="card-checkbox__false"></span>
                                    </div>
                                </label>
                            </div>
                            <div class="history-form-setting__item">
                                <p class="history-form-setting__item--title">Вид платежа</p>
                                <div class="history-form-setting__item--wrapper">
                                    <button class="history-form-setting__item--btn history-form__btn">Пополнение</button>
                                    <button class="history-form-setting__item--btn history-form__btn">Списание</button>
                                </div>
                            </div>
                            <div class="history-form-setting__item">
                                <p class="history-form-setting__item--title">Категория</p>
                                <div class="history-form-setting__item--wrapper">
                                    <button class="history-form-setting__item--btn history-form__btn">Транспорт</button>
                                    <button class="history-form-setting__item--btn history-form__btn">Развлечения</button>
                                    <button class="history-form-setting__item--btn history-form__btn">Покупки</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="history-form__btn">Пополнение</button>
                <button class="history-form__btn">Списание</button>
                <input  readonly class="history-form__btn" type="text" name="datefilter" value="Выберите дату" />
            </div>
            <div class="history-card">
                <div class="history-card__header">
                    <h5 class="history-card__title">Сегодня, 14 декабря</h5>
                    <p class="history-card__sum">−4567,25 ₽</p>
                </div>
                <div class="history-card__body">
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/yandex-taxi.png" alt="yandex-taxi">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Яндекс.Такси</h4>
                            <span class="history-card-item__subtitle">Общественный транспорт</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−183 ₽</p>
                            <p class="history-card-item__sum--subtitle">+6</p>
                        </div>
                    </a >
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/toe.png" alt="toe">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Пятёрочка</h4>
                            <span class="history-card-item__subtitle">Гипермаркет</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−1684,44 ₽</p>
                            <p class="history-card-item__sum--subtitle">+3</p>
                        </div>
                    </a >
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/yandex-eda.png" alt="yandex-eda">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Яндекс.Еда</h4>
                            <span class="history-card-item__subtitle">Кафе и рестораны</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−1243 ₽</p>
                            <p class="history-card-item__sum--subtitle">+7</p>
                        </div>
                    </a >
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <svg>
                                <use xlink:href="#food" />
                            </svg>
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Y0014094 RU Gabidullin i a divan</h4>
                            <span class="history-card-item__subtitle">Кафе и рестораны</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title history__add">+110 ₽</p>
                            <p class="history-card-item__sum--subtitle">+3</p>
                        </div>
                    </a >
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <svg>
                                <use xlink:href="#surface" />
                            </svg>
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">ООО Исколла (STEAM), ИНН 5902879646</h4>
                            <span class="history-card-item__subtitle">Мультимедиа</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−2420 ₽</p>
                            <p class="history-card-item__sum--subtitle">+7</p>
                        </div>
                    </a >
                </div>
            </div>
            <div class="history-card">
                <div class="history-card__header">
                    <h5 class="history-card__title">Вчера, 13 декабря</h5>
                    <p class="history-card__sum">−4567,25 ₽</p>
                </div>
                <div class="history-card__body">
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/yandex-taxi.png" alt="yandex-taxi">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Яндекс.Такси</h4>
                            <span class="history-card-item__subtitle">Общественный транспорт</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−183 ₽</p>
                            <p class="history-card-item__sum--subtitle">+6</p>
                        </div>
                    </a>
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/toe.png" alt="toe">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Пятёрочка</h4>
                            <span class="history-card-item__subtitle">Гипермаркет</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−1684,44 ₽</p>
                            <p class="history-card-item__sum--subtitle">+3</p>
                        </div>
                    </a>
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/yandex-eda.png" alt="yandex-eda">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Яндекс.Еда</h4>
                            <span class="history-card-item__subtitle">Кафе и рестораны</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−1243 ₽</p>
                            <p class="history-card-item__sum--subtitle">+7</p>
                        </div>
                    </a>
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <svg>
                                <use xlink:href="#food" />
                            </svg>
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Y0014094 RU Gabidullin i a divan</h4>
                            <span class="history-card-item__subtitle">Кафе и рестораны</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title history__add">+110 ₽</p>
                            <p class="history-card-item__sum--subtitle">+3</p>
                        </div>
                    </a >
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <svg>
                                <use xlink:href="#surface" />
                            </svg>
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">ООО Исколла (STEAM), ИНН 5902879646</h4>
                            <span class="history-card-item__subtitle">Мультимедиа</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−2420 ₽</p>
                            <p class="history-card-item__sum--subtitle">+7</p>
                        </div>
                    </a >
                </div>
            </div>
                </div>
            </div>
            <div class="banking-product__inner js-tabs-item" id="tab_2">
                <div class="banking-product">
                    <div class="banking-product-img">
                        <img src="/img/debit-card.png" alt="Card">
                    </div>
                    <div class="banking-product-content">
                        <p class="banking-product-content__subtitle">
                            Дебетовая карт *1256
                        </p>
                        <p class="banking-product-content__title">
                            90 789,<span>23 ₽</span>
                        </p>
                    </div>
                </div>
                <div class="card-replenishment">
                    <div class="card-replenishment__title">Пополнение карты</div>
                    <form action="#" class="card-replenishment-form">
                        <div class="card-replenishment-form__item">
                            <h4 class="card-replenishment-form__title">Откуда</h4>
                            <div class="card-mask">
                                <input type="number" name="number" placeholder="0000 0000 0000 0000">
                            </div>
                        </div>
                        <div class="card-replenishment-form__item">
                            <h4 class="card-replenishment-form__title">Откуда</h4>
                            <input class="card-replenishment-form__input" type="text" placeholder="0 ₽">
                            <p class="card-replenishment-form__subtitle">Без коммисии</p>
                        </div>
                        <button class="card-replenishment-form__btn">Далее</button>
                    </form>
                </div>
            </div>
            <div class="banking-product__inner js-tabs-item" id="tab_3">
                <div class="banking-product">
                    <div class="banking-product-img">
                        <img src="/img/debit-card.png" alt="Card">
                    </div>
                    <div class="banking-product-content">
                        <p class="banking-product-content__subtitle">
                            Дебетовая карт *1256
                        </p>
                        <p class="banking-product-content__title">
                            90 789,<span>23 ₽</span>
                        </p>
                    </div>
                </div>
                <div class="banking-product-data">
                    <h3 class="banking-product-data_-title">Реквизиты</h3>
                    <div class="banking-product-data__inner">
                        <div class="banking-product-data__item">
                            <span>Получатель</span><span>Евгений Иванов</span>
                        </div>
                        <div class="banking-product-data__item">
                            <span>Счёт получателя платежа</span><span>6587648674764764876764</span>
                        </div>
                        <div class="banking-product-data__item">
                            <span>Назначение платежа</span><span>Перевод средств по договору № 346347747 Иванов Евгений НДС не облагается</span>
                        </div>
                        <div class="banking-product-data__item">
                            <span>БИК</span><span>785486547</span>
                        </div>
                        <div class="banking-product-data__item">
                            <span>Банк получатель</span><span>АО Татсоцбанк</span>
                        </div>
                        <div class="banking-product-data__item">
                            <span>Корр. счёт</span><span>7648686548654</span>
                        </div>
                        <div class="banking-product-data__item">
                            <span>ИНН</span><span>6976458648564</span>
                        </div>
                        <div class="banking-product-data__item">
                            <span>КПП</span><span>85648648654</span>
                        </div>
                    </div>
                    <div class="banking-product-data__btn">
                        <button>Распечатать</button>
                        <button>Скопировать</button>
                    </div>
                </div>
            </div>
            <div class="banking-product__inner js-tabs-item" id="tab_4">
                <div class="banking-product">
                    <div class="banking-product-img">
                        <img src="/img/debit-card.png" alt="Card">
                    </div>
                    <div class="banking-product-content">
                        <p class="banking-product-content__subtitle">
                            Дебетовая карт *1256
                        </p>
                        <p class="banking-product-content__title">
                            90 789,<span>23 ₽</span>
                        </p>
                    </div>
                </div>
                <div class="banking-product-reference">
                    <h3 class="banking-product-reference__title">Справки и выписки</h3>
                    <p class="banking-product-reference__descr">
                        Отправим справку на электронную почту или вышлем оригинал на домашний адрес. Поменять контактные данные можно в профиле. 
                        <span>Справку о совершенной операции можно заказать в ленте событий.</span>
                    </p>
                    <a href="#">
                        <span>
                            О доступном остатке (подходит для предоставления в посольство)
                        </span>
                    </a>
                    <a href="#">
                        <span>
                            О доступном остатке на английском языке (подходит для предоставления в посольство)
                        </span>
                    </a>
                    <a href="#">
                        <span>
                            О заключении договора
                        </span>
                    </a>
                    <a href="#">
                        <span>
                            C движением средств (подходит для предоставления в посольство)
                        </span>
                    </a>
                    <a href="#">
                        <span>
                            С реквизитами счета
                        </span>
                    </a>
                </div>
            </div>
            <div class="sidebar-nav">
                <div class="sidebar-nav__inner">
                    <div class="sidebar-nav__link sidebar-nav__link--active" data-tab="#tab_1">
                        <svg>
                            <use xlink:href="#card" />
                        </svg>
                        О карте
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_2">
                        <svg>
                            <use xlink:href="#upload" />
                        </svg>
                        Пополнить
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_3">
                        <svg>
                            <use xlink:href="#doc" />
                        </svg>
                        Реквизиты
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_4">
                        <svg>
                            <use xlink:href="#documents" />
                        </svg>
                        Справки и выписки
                    </div>
                    <div class="sidebar-nav__link">
                        <svg>
                            <use xlink:href="#edit" />
                        </svg>
                        Переименовать карту
                    </div>
                    <div class="sidebar-nav__link">
                        <svg>
                            <use xlink:href="#edit-pin" />
                        </svg>
                        Изменить пин
                    </div>
                    <div class="sidebar-nav__link">
                        <svg>
                            <use xlink:href="#lock" />
                        </svg>
                        Заблокировать карту
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>