<div class="contact">
    <div class="container">
        <div class="contact__wrapper">
            <div class="contact__inner">
                <div class="contact__title">Связаться</div>
                <form id="form" action="#" class="contact-form">
                    <div class="contact-form__inner">
                        <div class="contact-form__title">Тема обращения</div>
                        <div class="contact-select">
                            <div class="contact-select__header">
                                <span class="contact-select__current">Сообщить об ошибке</span>
                                <div class="contact-select__icon">
                                    <svg>
                                        <use xlink:href="#arrow__select"/>
                                    </svg>
                                    <svg>
                                        <use xlink:href="#arrow__select"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="contact-select__body">
                                <div class="contact-select__item">Запросить обратную связь</div>
                                <div class="contact-select__item">Запросить обратную связь</div>
                                <div class="contact-select__item">Запросить обратную связь</div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form__inner">
                        <div class="contact-form__title">Сообщение</div>
                        <input type="text" class="_req _text">
                    </div>
                    <button class="contact-form__btn">Отправить</button>
                    <div class="contact-overlay">
                        <div class="contact-popap">
                            <div class="contact-popap__header">
                                <h2 class="contact-popap__title">Спасибо за обращение!</h2>
                                <svg>
                                    <use xlink:href="#checkmark"/>
                                </svg>
                            </div>
                            <button type="reset" class="contact-popap__btn contact-form__btn">Написать еще</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="sidebar-nav">
            <div class="sidebar-nav__inner">
               <div class="sidebar-nav-contact__link">
                   <a href="tel:8 843 299-11-11">8 843 299-11-11</a>
                </div>
               <div class="sidebar-nav-contact__link">
                   <a href="tel:8-800-350-51-51">8-800-350-51-51</a>
                    <span>для регионов России</span>                   
                </div>
                <a href="#" class="sidebar-nav-contact__item">
                    <svg>
                        <use xlink:href="#atm" />
                    </svg>
                    <span>Найти ближайший банкомат</span>
                </a>
                <a href="#" class="sidebar-nav-contact__item">
                    <svg>
                        <use xlink:href="#certificate" />
                    </svg>
                    <span>Лицензии</span>
                </a>
            </div>
        </div>
        </div>
        
    </div>
</div>