<header class="header">
        <div class="header-logo">
            <img src="/img/logo.png" alt="Tatsosbank">
        </div>
        <div class="widget">
                <div class="widget__title widget__title--active">
                    Всего денег
                    <svg class="widget-SVG">
                        <use xlink:href="#chevron-down" />
                    </svg>
                </div>
                <div class="widget__body widget__body--active">
                    <p>390 789,<span>78 ₽</span></p>
                </div>
        </div>
    <div class="header__wrapper">
        <div class="widget">
            <div class="widget__title widget__title--active">
                Карты и счета
                <svg class="widget-SVG">
                    <use xlink:href="#chevron-down" />
                </svg>
            </div>
            <div class="widget__body widget__body--active">
                <div href="#" class="card">
                    <div class="card-img">
                        <img src="/img/card_2.png" alt="Card">
                    </div>
                    <div class="card-content">
                        <p class="card-content__subtitle">
                            Дебетовая карт *1256
                        </p>
                        <p class="card-content__title">
                            90 789,<span>23 ₽</span>
                        </p>
                    </div>
                    <div class="card-more">
                        <svg class="widget-SVG">
                            <use xlink:href="#more" />
                        </svg>
                        <div class="card-more-dropdown">
                            <div class="card-more__inner">
                                <a href="#">Партнеры</a>
                                <a href="#">Спецпредложения</a>
                                <a href="#">Настройки</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div href="#" class="card">
                    <div class="card-img">
                        <img src="/img/card_2.png" alt="Card">
                    </div>
                    <div class="card-content">
                        <p class="card-content__subtitle">
                            Дебетовая карт *1256
                        </p>
                        <p class="card-content__title">
                            23 415,<span>80 ₽</span>
                        </p>
                    </div>
                    <div class="card-more">
                        <svg class="widget-SVG">
                            <use xlink:href="#more" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="widget__title">
                Вклады
                <svg class="widget-SVG">
                    <use xlink:href="#chevron-down" />
                </svg>
            </div>
            <div class="widget__body">
                <div href="#" class="card">
                    <div class="card-img">
                        <img src="/img/card_2.png" alt="Card">
                    </div>
                    <div class="card-content">
                        <p class="card-content__subtitle">
                            Дебетовая карт *1256
                        </p>
                        <p class="card-content__title">
                            90 789,<span>23 ₽</span>
                        </p>
                    </div>
                    <div class="card-more">
                        <svg class="widget-SVG">
                            <use xlink:href="#more" />
                        </svg>
                        <div class="card-more-dropdown">
                            <div class="card-more__inner">
                                <a href="#">Партнеры</a>
                                <a href="#">Спецпредложения</a>
                                <a href="#">Настройки</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div href="#" class="card">
                    <div class="card-img">
                        <img src="/img/card_2.png" alt="Card">
                    </div>
                    <div class="card-content">
                        <p class="card-content__subtitle">
                            Дебетовая карт *1256
                        </p>
                        <p class="card-content__title">
                            23 415,<span>80 ₽</span>
                        </p>
                    </div>
                    <div class="card-more">
                        <svg class="widget-SVG">
                            <use xlink:href="#more" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="widget__title">
                Кредиты
                <svg class="widget-SVG">
                    <use xlink:href="#chevron-down" />
                </svg>
            </div>
            <div class="widget__body">
                <div href="#" class="card">
                    <div class="card-img">
                        <img src="/img/card_2.png" alt="Card">
                    </div>
                    <div class="card-content">
                        <p class="card-content__subtitle">
                            Дебетовая карт *1256
                        </p>
                        <p class="card-content__title">
                            90 789,<span>23 ₽</span>
                        </p>
                    </div>
                    <div class="card-more">
                        <svg class="widget-SVG">
                            <use xlink:href="#more" />
                        </svg>
                        <div class="card-more-dropdown">
                            <div class="card-more__inner">
                                <a href="#">Партнеры</a>
                                <a href="#">Спецпредложения</a>
                                <a href="#">Настройки</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div href="#" class="card">
                    <div class="card-img">
                        <img src="/img/card_2.png" alt="Card">
                    </div>
                    <div class="card-content">
                        <p class="card-content__subtitle">
                            Дебетовая карт *1256
                        </p>
                        <p class="card-content__title">
                            23 415,<span>80 ₽</span>
                        </p>
                    </div>
                    <div class="card-more">
                        <svg class="widget-SVG">
                            <use xlink:href="#more" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="widget widget__curs">
            <div class="widget__title widget__title--active">
                Курс валют
                <svg class="widget-SVG">
                    <use xlink:href="#chevron-down" />
                </svg>
            </div>
            <div class="widget__body widget__body--active">
                <div class="widget__inner">
                    <div class="currency__inner">
                        <div class="currency__title">
                            <span></span>
                            <span>Покупка</span>
                            <span>Продажа</span>
                        </div>
                        <div class="currency__body">
                            <div class="currency__item">
                                <span>USD</span>
                                <span>
                                    72,45
                                    <svg class="widget-SVG currency--raising">
                                        <use xlink:href="#menu-up" />
                                    </svg>
                                </span>
                                <span>
                                    74,30
                                    <svg class="widget-SVG currency--raising">
                                        <use xlink:href="#menu-up" />
                                    </svg>
                                </span>

                            </div>
                            <div class="currency__item">
                                <span>EUR</span>
                                <span>
                                    88,00
                                    <svg class="widget-SVG currency--decline">
                                        <use xlink:href="#menu-up" />
                                    </svg>
                                </span>
                                <span>
                                    90,15
                                    <svg class="widget-SVG currency--raising">
                                        <use xlink:href="#menu-up" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <a href="#" class="header__link"><span>Открыть новый продукт</span></a>
</header>