<section class="section">
    <h1 class="title-main">
        Яндекс.Такси
    </h1>
    <div class="section__inner">
        <div class="section__left section__left--wrapper">
            <div class="total">
                <div class="total__content">
                    <div class="total__title">−1250 ₽</div>
                    <div class="total__subtitle">С учетом комисси 50 ₽</div>
                </div>
                <div class="total__img">
                    <img src="/img/alpfa.png" alt="alpfa">
                </div>
            </div>
            <div class="payment-made-props">
                <div class="payment-made-props__item">
                    <div class="payment-made-props__title">Счет списания</div>
                    <div class="payment-made-props__subtitle">Кредитная карта *1256</div>
                </div>
                <div class="payment-made-props__item">
                    <div class="payment-made-props__title">Код торговой точки</div>
                    <div class="payment-made-props__subtitle">МСС 4121</div>
                </div>
                <div class="payment-made-props__item">
                    <div class="payment-made-props__title">Детали платежа</div>
                    <div class="payment-made-props__subtitle">Apple Pay-2847</div>
                </div>
            </div>
            <div class="payment-made__link">
                <a href="#" class="btn btn--active">Назад</a>
            </div>
        </div>
        <div class="section__right">
            <div class="sidebar-nav__inner">
                    <a href="#" class="sidebar-nav__link sidebar-nav__link--active">
                        <svg>
                            <use xlink:href="#star" />
                        </svg>
                        Создать шаблон
                    </a>
                    <a href="#" class="sidebar-nav__link">
                        <svg>
                            <use xlink:href="#receipt" />
                        </svg>
                        Квитанция
                    </a>
                    <a href="#" class="sidebar-nav__link">
                        <svg>
                            <use xlink:href="#replace" />
                        </svg>
                        Повторить
                    </a>
                </div>
        </div>
    </div>
</section>