<section class="history">
        <div class="history__inner">
            <a href="#" class="section__title history__title">
                <h2 class="title-heading">Последние операции</h2>
                <svg>
                    <use xlink:href="#chevron-down" />
                </svg>
            </a>
            <div class="history-form">
                {{!-- <div class="history-form-setting history-form-btn filters__select-group js-filters-dropdown">
                    <svg class="filters__select-group-btn">
                        <use xlink:href="#settings-history" />
                    </svg>
                    <div class="history-form-setting__dropdown">
                        <svg class="history-form-setting__dropdown-svg">
                            <use xlink:href="#delete" />
                        </svg>
                        <div class="history-form-setting__inner">
                            <div class="history-form-setting__item">
                                <p class="history-form-setting__item--title">Период</p>
                                <div class="history-form-setting__item--wrapper">
                                    <button class="history-form-setting__item--btn history-form__btn">Сегодня</button>
                                    <button class="history-form-setting__item--btn history-form__btn">Вчера</button>
                                    <button class="history-form-setting__item--btn history-form__btn">В этом месяце</button>
                                </div>
                            </div>
                            <div class="history-form-setting__item">
                                <p class="history-form-setting__item--title">Счета и карты</p>
                                <label href="#" class="card-item">
                                    <div class="card-img">
                                        <img src="/img/card_2.png" alt="Card">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-content__subtitle">
                                            Дебетовая карт *1256
                                        </p>
                                        <p class="card-content__title">
                                            90 789,<span>23 ₽</span>
                                        </p>
                                    </div>
                                    <div class="card-checkbox">
                                        <input type="checkbox">
                                        <span class="card-checkbox__false"></span>
                                    </div>
                                </label>
                                <label href="#" class="card-item">
                                    <div class="card-img">
                                        <img src="/img/card_2.png" alt="Card">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-content__subtitle">
                                            Дебетовая карт *1256
                                        </p>
                                        <p class="card-content__title">
                                            90 789,<span>23 ₽</span>
                                        </p>
                                    </div>
                                    <div class="card-checkbox">
                                        <input type="checkbox">
                                        <span class="card-checkbox__false"></span>
                                    </div>
                                </label>
                            </div>
                            <div class="history-form-setting__item">
                                <p class="history-form-setting__item--title">Кредиты</p>
                                <label href="#" class="card-item">
                                    <div class="card-img">
                                        <img src="/img/card_2.png" alt="Card">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-content__subtitle">
                                            Дебетовая карт *1256
                                        </p>
                                        <p class="card-content__title">
                                            90 789,<span>23 ₽</span>
                                        </p>
                                    </div>
                                    <div class="card-checkbox">
                                        <input type="checkbox">
                                        <span class="card-checkbox__false"></span>
                                    </div>
                                </label>
                                <label href="#" class="card-item">
                                    <div class="card-img">
                                        <img src="/img/card_2.png" alt="Card">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-content__subtitle">
                                            Дебетовая карт *1256
                                        </p>
                                        <p class="card-content__title">
                                            90 789,<span>23 ₽</span>
                                        </p>
                                    </div>
                                    <div class="card-checkbox">
                                        <input type="checkbox">
                                        <span class="card-checkbox__false"></span>
                                    </div>
                                </label>
                            </div>
                            <div class="history-form-setting__item">
                                <p class="history-form-setting__item--title">Вид платежа</p>
                                <div class="history-form-setting__item--wrapper">
                                    <button class="history-form-setting__item--btn history-form__btn">Пополнение</button>
                                    <button class="history-form-setting__item--btn history-form__btn">Списание</button>
                                </div>
                            </div>
                            <div class="history-form-setting__item">
                                <p class="history-form-setting__item--title">Категория</p>
                                <div class="history-form-setting__item--wrapper">
                                    <button class="history-form-setting__item--btn history-form__btn">Транспорт</button>
                                    <button class="history-form-setting__item--btn history-form__btn">Развлечения</button>
                                    <button class="history-form-setting__item--btn history-form__btn">Покупки</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> --}}
                <button class="history-form__btn">Пополнение</button>
                <button class="history-form__btn">Списание</button>
                <input  readonly class="history-form__btn--default" type="text" name="datefilter" value="Выберите дату" />
                <div class="history-form__group filters__select-group js-filters-dropdown">
                    <div class="history-form__group-btn">
                        <div class="history-form__group-cross filters__select-group-btn">
                            Счета и карты: <span class="history-form__group-chexbox">0</span>
                            <svg class="history-form__group-cross-svg">
                                <use xlink:href="#chevron-down" />
                            </svg>
                        </div>
                    </div>
                    <div class="history-form__group-dropdown">
                        <div class="history-form__group-dropdown-inner">
                            <div class="history-form-setting__item">
                                <p class="history-form-setting__item--title">Счета и карты</p>
                                <label href="#" class="card-item js-checkbox">
                                    <div class="card-img">
                                        <img src="/img/card_2.png" alt="Card">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-content__subtitle">
                                            Дебетовая карт *1256
                                        </p>
                                        <p class="card-content__title">
                                            90 789,<span>23 ₽</span>
                                        </p>
                                    </div>
                                    <div class="card-checkbox">
                                        <input type="checkbox" class="card-checkbox-input">
                                        <span class="card-checkbox__false"></span>
                                    </div>
                                </label>
                                <label href="#" class="card-item js-checkbox">
                                    <div class="card-img">
                                        <img src="/img/card_2.png" alt="Card">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-content__subtitle">
                                            Дебетовая карт *1256
                                        </p>
                                        <p class="card-content__title">
                                            90 789,<span>23 ₽</span>
                                        </p>
                                    </div>
                                    <div class="card-checkbox">
                                        <input type="checkbox" class="card-checkbox-input">
                                        <span class="card-checkbox__false"></span>
                                    </div>
                                </label>
                            </div>
                            <div class="history-form-setting__item">
                                <p class="history-form-setting__item--title">Кредиты</p>
                                <label href="#" class="card-item js-checkbox">
                                    <div class="card-img">
                                        <img src="/img/card_2.png" alt="Card">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-content__subtitle">
                                            Дебетовая карт *1256
                                        </p>
                                        <p class="card-content__title">
                                            90 789,<span>23 ₽</span>
                                        </p>
                                    </div>
                                    <div class="card-checkbox">
                                        <input type="checkbox">
                                        <span class="card-checkbox__false"></span>
                                    </div>
                                </label>
                                <label href="#" class="card-item js-checkbox">
                                    <div class="card-img">
                                        <img src="/img/card_2.png" alt="Card">
                                    </div>
                                    <div class="card-content">
                                        <p class="card-content__subtitle">
                                            Дебетовая карт *1256
                                        </p>
                                        <p class="card-content__title">
                                            90 789,<span>23 ₽</span>
                                        </p>
                                    </div>
                                    <div class="card-checkbox">
                                        <input type="checkbox">
                                        <span class="card-checkbox__false"></span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="history-card">
                <div class="history-card__header">
                    <h5 class="history-card__title">Сегодня, 14 декабря</h5>
                    <p class="history-card__sum">−4567,25 ₽</p>
                </div>
                <div class="history-card__body">
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/yandex-taxi.png" alt="yandex-taxi">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Яндекс.Такси</h4>
                            <span class="history-card-item__subtitle">Общественный транспорт</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−183 ₽</p>
                            <p class="history-card-item__sum--subtitle">+6</p>
                        </div>
                    </a >
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/toe.png" alt="toe">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Пятёрочка</h4>
                            <span class="history-card-item__subtitle">Гипермаркет</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−1684,44 ₽</p>
                            <p class="history-card-item__sum--subtitle">+3</p>
                        </div>
                    </a >
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/yandex-eda.png" alt="yandex-eda">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Яндекс.Еда</h4>
                            <span class="history-card-item__subtitle">Кафе и рестораны</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−1243 ₽</p>
                            <p class="history-card-item__sum--subtitle">+7</p>
                        </div>
                    </a >
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <svg>
                                <use xlink:href="#food" />
                            </svg>
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Y0014094 RU Gabidullin i a divan</h4>
                            <span class="history-card-item__subtitle">Кафе и рестораны</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title history__add">+110 ₽</p>
                            <p class="history-card-item__sum--subtitle">+3</p>
                        </div>
                    </a >
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <svg>
                                <use xlink:href="#surface" />
                            </svg>
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">ООО Исколла (STEAM), ИНН 5902879646</h4>
                            <span class="history-card-item__subtitle">Мультимедиа</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−2420 ₽</p>
                            <p class="history-card-item__sum--subtitle">+7</p>
                        </div>
                    </a >
                </div>
            </div>
            <div class="history-card">
                <div class="history-card__header">
                    <h5 class="history-card__title">Вчера, 13 декабря</h5>
                    <p class="history-card__sum">−4567,25 ₽</p>
                </div>
                <div class="history-card__body">
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/yandex-taxi.png" alt="yandex-taxi">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Яндекс.Такси</h4>
                            <span class="history-card-item__subtitle">Общественный транспорт</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−183 ₽</p>
                            <p class="history-card-item__sum--subtitle">+6</p>
                        </div>
                    </a>
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/toe.png" alt="toe">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Пятёрочка</h4>
                            <span class="history-card-item__subtitle">Гипермаркет</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−1684,44 ₽</p>
                            <p class="history-card-item__sum--subtitle">+3</p>
                        </div>
                    </a>
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/yandex-eda.png" alt="yandex-eda">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Яндекс.Еда</h4>
                            <span class="history-card-item__subtitle">Кафе и рестораны</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−1243 ₽</p>
                            <p class="history-card-item__sum--subtitle">+7</p>
                        </div>
                    </a>
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <svg>
                                <use xlink:href="#food" />
                            </svg>
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Y0014094 RU Gabidullin i a divan</h4>
                            <span class="history-card-item__subtitle">Кафе и рестораны</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title history__add">+110 ₽</p>
                            <p class="history-card-item__sum--subtitle">+3</p>
                        </div>
                    </a >
                    <a href="#" class="history-card-item">
                        <div class="history-card-item__img">
                            <svg>
                                <use xlink:href="#surface" />
                            </svg>
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">ООО Исколла (STEAM), ИНН 5902879646</h4>
                            <span class="history-card-item__subtitle">Мультимедиа</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−2420 ₽</p>
                            <p class="history-card-item__sum--subtitle">+7</p>
                        </div>
                    </a >
                </div>
            </div>
        </div>
</section>