<menu class="page-menu">
        <div class="menu__inner">
            <div class="menu__wrapper container">
                <nav class="menu-nav">
                    <a href="#" class="menu-hover menu-nav__link menu-nav__link--active"><span>Мой банк</span></a>
                    <a href="#" class="menu-hover menu-nav__link"><span>Платежи и переводы</span></a>
                    <a href="#" class="menu-hover menu-nav__link"><span>История</span></a>
                    <div class="menu-nav__more">
                        <div class="menu-nav__more-btn">
                            Еще
                            <svg>
                                <use xlink:href="#chevron-down" />
                            </svg>
                        </div>
                        <div class="menu-nav__more-dropdown">
                            <div class="menu-nav__more-dropdown-inner">
                                <a href="#" class="menu-hover">Партнеры</a>
                                <a href="#" class="menu-hover">Спецпредложения</a>
                                <a href="#" class="menu-hover">Настройки</a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="menu-navigation">
                    <div class="menu__logo">
                        <img src="/img/logo.png" alt="Tatsosbank">
                    </div>
                    <a action="#" class="menu__form menu-hover">
                            <button>
                                <svg>
                                <use xlink:href="#search" />
                                </svg>
                            </button>
                    </a>
                    <a href="#" class="menu__call menu-hover ">
                        <svg>
                            <use xlink:href="#call" />
                        </svg>
                    </a>
                    <div class="menu__notifications menu-hover">
                        <a href="#" class="menu__notifications-button" type="button">
                            <span class="menu__notifications-icons">
                                <svg>
                                    <use xlink:href="#notification" />
                                </svg>
                                <span class="menu__notifications-count">15</span>
                            </span>
                        </a>
                    </div>
                    <div class="menu__authorized-user menu-hover js-filters-dropdown filters__select-group">
                        <a href="#" class="menu__authorized-user-link filters__select-group-btn">
                            <span class="menu__authorized-user-name">Евгений И.</span>
                            <svg>
                                <use xlink:href="#chevron-down" />
                            </svg>
                        </a>
                        <div class="menu__authorized-user-more">
                            <div class="menu__authorized-user-more-dropdown">
                                <div class="menu__authorized-user-more-dropdown-inner">
                                    <a href="#" class="menu__authorized-user-more-link">Партнеры</a>
                                    <a href="#" class="menu__authorized-user-more-link">Спецпредложения</a>
                                    <a href="#" class="menu__authorized-user-more-link">Настройки</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</menu>