<section class="section__left">
    <div class="title-main">Мобильная связь</div>
    <div class="card-selection">
        <div class="card-selection__title">Номер телефона</div>
        <input type="text" class="card-selection__input js-phone-mask" placeholder="+7 (000) 000 00 00">
        <svg>
            <use xlink:href="#stroke" />
        </svg>
    </div>
</section>