<div class="phone-translation">
    <div class="container">
        <div class="phone-translation__title">Мобильная связь</div>
        <div class="phone-translation-form">
            <div class="phone-translation-form__inner">
                <div class="phone-translation-form__item">
                    <div class="phone-translation-form__title">Номер телефона</div>
                    <div class="phone-translation-form__box">
                        <input type="text" class="phone-translation-form__input js-phone-mask" placeholder="+7 (000) 000 00 00">
                        <svg>
                            <use xlink:href="#stroke" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>