<div class="notifications">
    <div class="container">
        <div class="notifications__title title">Уведомления</div>
        <div class="notifications__wrapper">
            <div class="notifications__inner">
                <div class="notifications-content">
                    <h3>
                        Технические работы с 23:00 21.12.2019
                    </h3>
                    <span>
                        В связи с проведением технических работ 21.12.2019 мобильное приложение не будет работать с 23:00 до 23:59. Приносим извинения за неудобства.
                    </span>
                </div>
                <div class="notifications-content">
                    <h3>
                        SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                    </h3>
                    <span>
                        Держатели карт Mastercard АО «ТАТСОЦБАНК» могут воспользоваться новым платежным сервисом. Теперь держатели карт Mastercard АО «ТАТСОЦБАНК» могут просто, удобно и безопасно оплачивать покупки в одно касание часами Swatch. Как и все другие модели Swatch, часы SwatchPAY! водонепроницаемы и легко выдерживают глубину до 30 метров. Они не требуют зарядки и поэтому всегда готовы к совершению оплаты. 
                        Как и все модели Swatch, новые часы из коллекции SwatchPAY! — это стильный аксессуар, который подойдёт к любому образу. Розничная стоимость составляет 5300 рублей. Приобрести часы из коллекции SwatchPAY! можно во всех городах России, где представлены магазины Swatch: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Самара, Сочи, Владивосток, Казань. 
                        https://tatsotsbank.ru/cards/services/#swatch.
                    </span>
                </div>
                <div class="notifications-content">
                    <h3>
                        Технические работы с 23:00 21.12.2019
                    </h3>
                    <span>
                        В связи с проведением технических работ 21.12.2019 мобильное приложение не будет работать с 23:00 до 23:59. Приносим извинения за неудобства.
                    </span>
                </div>
                <div class="notifications-content">
                    <h3>
                        SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                    </h3>
                    <span>
                        Держатели карт Mastercard АО «ТАТСОЦБАНК» могут воспользоваться новым платежным сервисом. Теперь держатели карт Mastercard АО «ТАТСОЦБАНК» могут просто, удобно и безопасно оплачивать покупки в одно касание часами Swatch. Как и все другие модели Swatch, часы SwatchPAY! водонепроницаемы и легко выдерживают глубину до 30 метров. Они не требуют зарядки и поэтому всегда готовы к совершению оплаты. 
                        Как и все модели Swatch, новые часы из коллекции SwatchPAY! — это стильный аксессуар, который подойдёт к любому образу. Розничная стоимость составляет 5300 рублей. Приобрести часы из коллекции SwatchPAY! можно во всех городах России, где представлены магазины Swatch: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Самара, Сочи, Владивосток, Казань. 
                        https://tatsotsbank.ru/cards/services/#swatch.
                    </span>
                </div>
                <div class="notifications-content">
                    <h3>
                        Технические работы с 23:00 21.12.2019
                    </h3>
                    <span>
                        В связи с проведением технических работ 21.12.2019 мобильное приложение не будет работать с 23:00 до 23:59. Приносим извинения за неудобства.
                    </span>
                </div>
                <div class="notifications-content">
                    <h3>
                        SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                    </h3>
                    <span>
                        Держатели карт Mastercard АО «ТАТСОЦБАНК» могут воспользоваться новым платежным сервисом. Теперь держатели карт Mastercard АО «ТАТСОЦБАНК» могут просто, удобно и безопасно оплачивать покупки в одно касание часами Swatch. Как и все другие модели Swatch, часы SwatchPAY! водонепроницаемы и легко выдерживают глубину до 30 метров. Они не требуют зарядки и поэтому всегда готовы к совершению оплаты. 
                        Как и все модели Swatch, новые часы из коллекции SwatchPAY! — это стильный аксессуар, который подойдёт к любому образу. Розничная стоимость составляет 5300 рублей. Приобрести часы из коллекции SwatchPAY! можно во всех городах России, где представлены магазины Swatch: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Самара, Сочи, Владивосток, Казань. 
                        https://tatsotsbank.ru/cards/services/#swatch.
                    </span>
                </div>
                <div class="notifications-content">
                    <h3>
                        SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                    </h3>
                    <span>
                        Держатели карт Mastercard АО «ТАТСОЦБАНК» могут воспользоваться новым платежным сервисом. Теперь держатели карт Mastercard АО «ТАТСОЦБАНК» могут просто, удобно и безопасно оплачивать покупки в одно касание часами Swatch. Как и все другие модели Swatch, часы SwatchPAY! водонепроницаемы и легко выдерживают глубину до 30 метров. Они не требуют зарядки и поэтому всегда готовы к совершению оплаты. 
                        Как и все модели Swatch, новые часы из коллекции SwatchPAY! — это стильный аксессуар, который подойдёт к любому образу. Розничная стоимость составляет 5300 рублей. Приобрести часы из коллекции SwatchPAY! можно во всех городах России, где представлены магазины Swatch: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Самара, Сочи, Владивосток, Казань. 
                        https://tatsotsbank.ru/cards/services/#swatch.
                    </span>
                </div>
                <div class="notifications-content">
                    <h3>
                        Технические работы с 23:00 21.12.2019
                    </h3>
                    <span>
                        В связи с проведением технических работ 21.12.2019 мобильное приложение не будет работать с 23:00 до 23:59. Приносим извинения за неудобства.
                    </span>
                </div>
                <div class="notifications-content">
                    <h3>
                        SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                    </h3>
                    <span>
                        Держатели карт Mastercard АО «ТАТСОЦБАНК» могут воспользоваться новым платежным сервисом. Теперь держатели карт Mastercard АО «ТАТСОЦБАНК» могут просто, удобно и безопасно оплачивать покупки в одно касание часами Swatch. Как и все другие модели Swatch, часы SwatchPAY! водонепроницаемы и легко выдерживают глубину до 30 метров. Они не требуют зарядки и поэтому всегда готовы к совершению оплаты. 
                        Как и все модели Swatch, новые часы из коллекции SwatchPAY! — это стильный аксессуар, который подойдёт к любому образу. Розничная стоимость составляет 5300 рублей. Приобрести часы из коллекции SwatchPAY! можно во всех городах России, где представлены магазины Swatch: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Самара, Сочи, Владивосток, Казань. 
                        https://tatsotsbank.ru/cards/services/#swatch.
                    </span>
                </div>
                <div class="notifications-content">
                    <h3>
                        Технические работы с 23:00 21.12.2019
                    </h3>
                    <span>
                        В связи с проведением технических работ 21.12.2019 мобильное приложение не будет работать с 23:00 до 23:59. Приносим извинения за неудобства.
                    </span>
                </div>
                <div class="notifications-content">
                    <h3>
                        SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                    </h3>
                    <span>
                        Держатели карт Mastercard АО «ТАТСОЦБАНК» могут воспользоваться новым платежным сервисом. Теперь держатели карт Mastercard АО «ТАТСОЦБАНК» могут просто, удобно и безопасно оплачивать покупки в одно касание часами Swatch. Как и все другие модели Swatch, часы SwatchPAY! водонепроницаемы и легко выдерживают глубину до 30 метров. Они не требуют зарядки и поэтому всегда готовы к совершению оплаты. 
                        Как и все модели Swatch, новые часы из коллекции SwatchPAY! — это стильный аксессуар, который подойдёт к любому образу. Розничная стоимость составляет 5300 рублей. Приобрести часы из коллекции SwatchPAY! можно во всех городах России, где представлены магазины Swatch: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Самара, Сочи, Владивосток, Казань. 
                        https://tatsotsbank.ru/cards/services/#swatch.
                    </span>
                </div>
            </div>
            <div class="sidebar-nav">
                <div class="sidebar-nav__inner">
                <a href="#" class="sidebar-nav__link sidebar-nav__link--active">
                   Технические работы с 23:00 21.12.2019
                </a>
                <a href="#" class="sidebar-nav__link">
                    SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                </a>
                <a href="#" class="sidebar-nav__link">
                   Технические работы с 23:00 21.12.2019
                </a>
                <a href="#" class="sidebar-nav__link">
                    SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                </a>
                <a href="#" class="sidebar-nav__link">
                   Технические работы с 23:00 21.12.2019
                </a>
                <a href="#" class="sidebar-nav__link">
                    SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                </a>
                </div>
            </div>
        </div>
    </div>
</div>.