<div class="notifications">
        <div class="notifications__title title">Уведомления</div>
        <div class="notifications__wrapper section__inner">
            <div class="notifications__inner section__left">
                <div class="notifications-content" id="news-1">
                    <h3>
                        Технические работы с 23:00 21.12.2019
                    </h3>
                    <span>
                        В связи с проведением технических работ 21.12.2019 мобильное приложение не будет работать с 23:00 до 23:59. Приносим извинения за неудобства.
                    </span>
                </div>
                <div class="notifications-content" id="news-2">
                    <h3>
                        SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                    </h3>
                    <span>
                        Держатели карт Mastercard АО «ТАТСОЦБАНК» могут воспользоваться новым платежным сервисом. Теперь держатели карт Mastercard АО «ТАТСОЦБАНК» могут просто, удобно и безопасно оплачивать покупки в одно касание часами Swatch. Как и все другие модели Swatch, часы SwatchPAY! водонепроницаемы и легко выдерживают глубину до 30 метров. Они не требуют зарядки и поэтому всегда готовы к совершению оплаты. 
                        Как и все модели Swatch, новые часы из коллекции SwatchPAY! — это стильный аксессуар, который подойдёт к любому образу. Розничная стоимость составляет 5300 рублей. Приобрести часы из коллекции SwatchPAY! можно во всех городах России, где представлены магазины Swatch: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Самара, Сочи, Владивосток, Казань. 
                        https://tatsotsbank.ru/cards/services/#swatch.
                    </span>
                </div>
                <div class="notifications-content" id="news-3">
                    <h3>
                        Технические работы с 23:00 21.12.2019
                    </h3>
                    <span>
                        В связи с проведением технических работ 21.12.2019 мобильное приложение не будет работать с 23:00 до 23:59. Приносим извинения за неудобства.
                    </span>
                </div>
                <div class="notifications-content" id="news-4">
                    <h3>
                        SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                    </h3>
                    <span>
                        Держатели карт Mastercard АО «ТАТСОЦБАНК» могут воспользоваться новым платежным сервисом. Теперь держатели карт Mastercard АО «ТАТСОЦБАНК» могут просто, удобно и безопасно оплачивать покупки в одно касание часами Swatch. Как и все другие модели Swatch, часы SwatchPAY! водонепроницаемы и легко выдерживают глубину до 30 метров. Они не требуют зарядки и поэтому всегда готовы к совершению оплаты. 
                        Как и все модели Swatch, новые часы из коллекции SwatchPAY! — это стильный аксессуар, который подойдёт к любому образу. Розничная стоимость составляет 5300 рублей. Приобрести часы из коллекции SwatchPAY! можно во всех городах России, где представлены магазины Swatch: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Самара, Сочи, Владивосток, Казань. 
                        https://tatsotsbank.ru/cards/services/#swatch.
                    </span>
                </div>
                <div class="notifications-content" id="news-5">
                    <h3>
                        Технические работы с 23:00 21.12.2019
                    </h3>
                    <span>
                        В связи с проведением технических работ 21.12.2019 мобильное приложение не будет работать с 23:00 до 23:59. Приносим извинения за неудобства.
                    </span>
                </div>
                <div class="notifications-content" id="news-6">
                    <h3>
                        SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                    </h3>
                    <span>
                        Держатели карт Mastercard АО «ТАТСОЦБАНК» могут воспользоваться новым платежным сервисом. Теперь держатели карт Mastercard АО «ТАТСОЦБАНК» могут просто, удобно и безопасно оплачивать покупки в одно касание часами Swatch. Как и все другие модели Swatch, часы SwatchPAY! водонепроницаемы и легко выдерживают глубину до 30 метров. Они не требуют зарядки и поэтому всегда готовы к совершению оплаты. 
                        Как и все модели Swatch, новые часы из коллекции SwatchPAY! — это стильный аксессуар, который подойдёт к любому образу. Розничная стоимость составляет 5300 рублей. Приобрести часы из коллекции SwatchPAY! можно во всех городах России, где представлены магазины Swatch: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Самара, Сочи, Владивосток, Казань. 
                        https://tatsotsbank.ru/cards/services/#swatch.
                    </span>
                </div>
                <div class="notifications-content" id="news-7">
                    <h3>
                        SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                    </h3>
                    <span>
                        Держатели карт Mastercard АО «ТАТСОЦБАНК» могут воспользоваться новым платежным сервисом. Теперь держатели карт Mastercard АО «ТАТСОЦБАНК» могут просто, удобно и безопасно оплачивать покупки в одно касание часами Swatch. Как и все другие модели Swatch, часы SwatchPAY! водонепроницаемы и легко выдерживают глубину до 30 метров. Они не требуют зарядки и поэтому всегда готовы к совершению оплаты. 
                        Как и все модели Swatch, новые часы из коллекции SwatchPAY! — это стильный аксессуар, который подойдёт к любому образу. Розничная стоимость составляет 5300 рублей. Приобрести часы из коллекции SwatchPAY! можно во всех городах России, где представлены магазины Swatch: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Самара, Сочи, Владивосток, Казань. 
                        https://tatsotsbank.ru/cards/services/#swatch.
                    </span>
                </div>
                <div class="notifications-content" id="news-8">
                    <h3>
                        Технические работы с 23:00 21.12.2019
                    </h3>
                    <span>
                        В связи с проведением технических работ 21.12.2019 мобильное приложение не будет работать с 23:00 до 23:59. Приносим извинения за неудобства.
                    </span>
                </div>
                <div class="notifications-content menu-box" id="news-9">
                    <h3>
                        SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                    </h3>
                    <span>
                        Держатели карт Mastercard АО «ТАТСОЦБАНК» могут воспользоваться новым платежным сервисом. Теперь держатели карт Mastercard АО «ТАТСОЦБАНК» могут просто, удобно и безопасно оплачивать покупки в одно касание часами Swatch. Как и все другие модели Swatch, часы SwatchPAY! водонепроницаемы и легко выдерживают глубину до 30 метров. Они не требуют зарядки и поэтому всегда готовы к совершению оплаты. 
                        Как и все модели Swatch, новые часы из коллекции SwatchPAY! — это стильный аксессуар, который подойдёт к любому образу. Розничная стоимость составляет 5300 рублей. Приобрести часы из коллекции SwatchPAY! можно во всех городах России, где представлены магазины Swatch: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Самара, Сочи, Владивосток, Казань. 
                        https://tatsotsbank.ru/cards/services/#swatch.
                    </span>
                </div>
                <div class="notifications-content" id="news-10">
                    <h3>
                        Технические работы с 23:00 21.12.2019
                    </h3>
                    <span>
                        В связи с проведением технических работ 21.12.2019 мобильное приложение не будет работать с 23:00 до 23:59. Приносим извинения за неудобства.
                    </span>
                </div>
                <div class="notifications-content" id="news-11">
                    <h3>
                        SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                    </h3>
                    <span>
                        Держатели карт Mastercard АО «ТАТСОЦБАНК» могут воспользоваться новым платежным сервисом. Теперь держатели карт Mastercard АО «ТАТСОЦБАНК» могут просто, удобно и безопасно оплачивать покупки в одно касание часами Swatch. Как и все другие модели Swatch, часы SwatchPAY! водонепроницаемы и легко выдерживают глубину до 30 метров. Они не требуют зарядки и поэтому всегда готовы к совершению оплаты. 
                        Как и все модели Swatch, новые часы из коллекции SwatchPAY! — это стильный аксессуар, который подойдёт к любому образу. Розничная стоимость составляет 5300 рублей. Приобрести часы из коллекции SwatchPAY! можно во всех городах России, где представлены магазины Swatch: Москва, Санкт-Петербург, Новосибирск, Екатеринбург, Самара, Сочи, Владивосток, Казань. 
                        https://tatsotsbank.ru/cards/services/#swatch.
                    </span>
                </div>
            </div>
            <div class="sidebar-nav section__right">
                <div class="sidebar-nav__inner">
                <a href="#news-1" class="sidebar-nav__link sidebar-nav__link--active">
                   Технические работы с 23:00 21.12.2019
                </a>
                <a href="#news-2" class="sidebar-nav__link notifications-new">
                    SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                </a>
                <a href="#news-3" class="sidebar-nav__link">
                   Технические работы с 23:00 21.12.2019
                </a>
                <a href="#news-4" class="sidebar-nav__link">
                    SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                </a>
                <a href="#news-5" class="sidebar-nav__link">
                   Технические работы с 23:00 21.12.2019
                </a>
                <a href="#news-6" class="sidebar-nav__link">
                    SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                </a>
                <a href="#news-7" class="sidebar-nav__link">
                   Технические работы с 23:00 21.12.2019
                </a>
                <a href="#news-8" class="sidebar-nav__link">
                    SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                </a>
                <a href="#news-9" class="sidebar-nav__link">
                   Технические работы с 23:00 21.12.2019
                </a>
                <a href="#news-10" class="sidebar-nav__link">
                    SwatchPay! с картами Mastercard АО "ТАТСОЦБАНК"
                </a>
                </div>
            </div>
        </div>
</div>.