 <div class="open-a-new-product">
     <div class="container-inner">
         <div class="open-a-new-product__inner">
             <h2 class="open-a-new-product__title">Открыть новый продукт</h2>
             <div class="open-a-new-product__wrapper">
                 <div class="suggestions__inner">
                     <img src="" alt="" class="suggestions__img">
                     <h4 class="suggestions__title"></h4>
                     <p class="suggestions__descr"></p>
                     <a href="#" class="suggestions__link"></a>
                 </div>
             </div>
         </div>
     </div>
 </div>