<div class="open-a-new-product">
    <div class="container-inner">
        <div class="open-a-new-product__title">Открыть новый продукт</div>
        <div class="open-a-new-product__inner">
            <div class="open-a-new-product__wrapper open-a-new-product__wrapper--active" id="tab_1">
                <div class="open-a-new-product__subtitle">Ипотека</div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/key_img.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">«КЛЮЧевой процент»</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 7,4% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/support_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Ипотека <br> с государственной <br> поддержкой
                        </h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 2,8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/metro_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Новые метры</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/house_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Загородный дом</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/com_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Коммерческая недвижимость</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 10% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-20 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/dream_house__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Дом мечты</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8,5% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/volga__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Волжская гавань</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="open-a-new-product__wrapper" id="tab_2">
                <div class="open-a-new-product__subtitle">Автокредиты</div>

                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/dream_house__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Дом мечты</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8,5% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/support_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Ипотека <br> с государственной <br> поддержкой
                        </h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 2,8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/metro_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Новые метры</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/house_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Загородный дом</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/com_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Коммерческая недвижимость</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 10% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-20 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/key_img.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">«КЛЮЧевой процент»</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 7,4% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/volga__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Волжская гавань</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="open-a-new-product__wrapper" id="tab_3">
                <div class="open-a-new-product__subtitle">Потребительские кредиты</div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/key_img.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">«КЛЮЧевой процент»</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 7,4% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/support_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Ипотека <br> с государственной <br> поддержкой
                        </h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 2,8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/metro_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Новые метры</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/house_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Загородный дом</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/com_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Коммерческая недвижимость</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 10% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-20 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/dream_house__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Дом мечты</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8,5% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/volga__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Волжская гавань</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="open-a-new-product__wrapper" id="tab_4">
                <div class="open-a-new-product__subtitle">Рефинансирование</div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/key_img.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">«КЛЮЧевой процент»</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 7,4% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/support_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Ипотека <br> с государственной <br> поддержкой
                        </h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 2,8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/metro_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Новые метры</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/house_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Загородный дом</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/com_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Коммерческая недвижимость</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 10% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-20 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/dream_house__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Дом мечты</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8,5% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/volga__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Волжская гавань</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="open-a-new-product__wrapper" id="tab_5">
                <div class="open-a-new-product__subtitle">Карты</div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/key_img.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">«КЛЮЧевой процент»</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 7,4% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/support_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Ипотека <br> с государственной <br> поддержкой
                        </h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 2,8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/metro_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Новые метры</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/house_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Загородный дом</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/com_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Коммерческая недвижимость</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 10% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-20 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/dream_house__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Дом мечты</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8,5% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/volga__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Волжская гавань</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="open-a-new-product__wrapper" id="tab_6">
                <div class="open-a-new-product__subtitle">Вклады</div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/key_img.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">«КЛЮЧевой процент»</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 7,4% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/support_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Ипотека <br> с государственной <br> поддержкой
                        </h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 2,8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/metro_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Новые метры</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/house_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Загородный дом</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/com_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Коммерческая недвижимость</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 10% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-20 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/dream_house__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Дом мечты</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8,5% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/volga__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Волжская гавань</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="open-a-new-product__wrapper" id="tab_7">
                <div class="open-a-new-product__subtitle">Аренда сейфов</div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/key_img.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">«КЛЮЧевой процент»</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 7,4% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/support_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Ипотека <br> с государственной <br> поддержкой
                        </h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 2,8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/metro_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Новые метры</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/house_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Загородный дом</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/com_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Коммерческая недвижимость</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 10% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-20 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/dream_house__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Дом мечты</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8,5% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/volga__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Волжская гавань</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="open-a-new-product__wrapper" id="tab_8">
                <div class="open-a-new-product__subtitle">Драгоценные металлы</div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/key_img.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">«КЛЮЧевой процент»</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 7,4% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/support_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Ипотека <br> с государственной <br> поддержкой
                        </h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 2,8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/metro_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Новые метры</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/house_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Загородный дом</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/com_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Коммерческая недвижимость</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 10% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-20 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/dream_house__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Дом мечты</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8,5% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/volga__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Волжская гавань</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="open-a-new-product__wrapper" id="tab_9">
                <div class="open-a-new-product__subtitle">РКО</div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/key_img.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">«КЛЮЧевой процент»</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 7,4% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/support_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Ипотека <br> с государственной <br> поддержкой
                        </h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 2,8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/metro_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Новые метры</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/house_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Загородный дом</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/com_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Коммерческая недвижимость</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 10% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-20 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/dream_house__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Дом мечты</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8,5% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/volga__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Волжская гавань</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="open-a-new-product__wrapper" id="tab_10">
                <div class="open-a-new-product__subtitle">Мобильное приложение</div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/key_img.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">«КЛЮЧевой процент»</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 7,4% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/support_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Ипотека <br> с государственной <br> поддержкой
                        </h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 2,8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/metro_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Новые метры</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/house_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Загородный дом</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/com_bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Коммерческая недвижимость</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 10% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-20 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/dream_house__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Дом мечты</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8,5% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open-a-new-product__item">
                    <div class="open-a-new-product__img">
                        <img src="/img/volga__bg.png" alt="">
                    </div>
                    <div class="open-a-new-product-content">
                        <h4 class="open-a-new-product-content__title">Волжская гавань</h4>
                        <div class="open-a-new-product-content__descr">
                            <div class="open-a-new-product-content__conditions">
                                От 8% <br>
                                <span>годовых</span>
                            </div>
                            <div class="open-a-new-product-content__conditions">
                                1-25 лет <br>
                                <span>срок кредитования</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-nav">
                <div class="sidebar-nav__inner">
                    <div class="sidebar-nav__link sidebar-nav__link--active" data-tab="#tab_1">
                        Ипотека
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_2">
                        Автокредиты
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_3">
                        Потребительские кредиты
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_4">
                        Рефинансирование
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_5">
                        Карты
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_6">
                        Вклады
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_7">
                        Аренда сейфов
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_8">
                        Драгоценные металлы
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_9">
                        РКО
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_10">
                        Мобильное приложение
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>