<div class="partner">
    <div class="container">
        <div class="partner__wrapper">
            <div class="partner__inner">
                <h2 class="partner__title">Партнеры</h2>
                <div class="partner__content">
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <a href="#" class="partner-item__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <a href="#" class="partner-item__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <a href="#" class="partner-item__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <a href="#" class="partner-item__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <a href="#" class="partner-item__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <a href="#" class="partner-item__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <a href="#" class="partner-item__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <a href="#" class="partner-item__link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-nav">
                <div class="sidebar-nav__inner">
                    <div class="sidebar-nav__link sidebar-nav__link--active" data-tab="#tab_1">
                        Категория 1
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_2">
                        Категория 2
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_3">
                        Категория 3
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_4">
                        Категория 4
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_5">
                        Категория 5
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_6">
                        Категория 6
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_7">
                        Категория 7
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_8">
                        Категория 8
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_9">
                        Категория 9
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_10">
                        Категория 10
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
