<div class="partner">
        <h2 class="title">Партнеры</h2>
        <div class="section__inner">          
            <div class="section__left js-tabs-item js-tabs-item--active" id="tab_1">
                <div class="partner__content">
                    <a href="#" class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </a>
                    <a href="#" class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/Unistroy.png" alt="Unistroy">
                            <h4>Унистрой</h4>
                        </div>
                        <p class="partner-item__content">
                            Мы создаем жилые комплексы, кварталы, микрорайоны...
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </a>
                    <a href="#" class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/markweber.png" alt="markweber">
                            <h4>Студия Марк Вебер</h4>
                        </div>
                        <p class="partner-item__content">
                            Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </a>
                    <a href="#" class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/m.video.png" alt="m.video">
                            <h4>М.Видео</h4>
                        </div>
                        <p class="partner-item__content">
                            Интеренет-магазин цифровой техники и электроники
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </a>
                    <a href="#" class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </a>
                    <a href="#" class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/Unistroy.png" alt="Unistroy">
                            <h4>Унистрой</h4>
                        </div>
                        <p class="partner-item__content">
                            Мы создаем жилые комплексы, кварталы, микрорайоны...
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </a>
                    <a href="#" class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/markweber.png" alt="markweber">
                            <h4>Студия Марк Вебер</h4>
                        </div>
                        <p class="partner-item__content">
                            Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </a>
                    <a href="#" class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/m.video.png" alt="m.video">
                            <h4>М.Видео</h4>
                        </div>
                        <p class="partner-item__content">
                            Интеренет-магазин цифровой техники и электроники
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="section__left js-tabs-item" id="tab_2">
                <div class="partner__content">
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/Unistroy.png" alt="Unistroy">
                            <h4>Унистрой</h4>
                        </div>
                        <p class="partner-item__content">
                            Мы создаем жилые комплексы, кварталы, микрорайоны...
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/markweber.png" alt="markweber">
                            <h4>Студия Марк Вебер</h4>
                        </div>
                        <p class="partner-item__content">
                            Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/m.video.png" alt="m.video">
                            <h4>М.Видео</h4>
                        </div>
                        <p class="partner-item__content">
                            Интеренет-магазин цифровой техники и электроники
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/Unistroy.png" alt="Unistroy">
                            <h4>Унистрой</h4>
                        </div>
                        <p class="partner-item__content">
                            Мы создаем жилые комплексы, кварталы, микрорайоны...
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/markweber.png" alt="markweber">
                            <h4>Студия Марк Вебер</h4>
                        </div>
                        <p class="partner-item__content">
                            Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/m.video.png" alt="m.video">
                            <h4>М.Видео</h4>
                        </div>
                        <p class="partner-item__content">
                            Интеренет-магазин цифровой техники и электроники
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__left js-tabs-item" id="tab_3">
                <div class="partner__content">
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/Unistroy.png" alt="Unistroy">
                            <h4>Унистрой</h4>
                        </div>
                        <p class="partner-item__content">
                            Мы создаем жилые комплексы, кварталы, микрорайоны...
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/markweber.png" alt="markweber">
                            <h4>Студия Марк Вебер</h4>
                        </div>
                        <p class="partner-item__content">
                            Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/m.video.png" alt="m.video">
                            <h4>М.Видео</h4>
                        </div>
                        <p class="partner-item__content">
                            Интеренет-магазин цифровой техники и электроники
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/Unistroy.png" alt="Unistroy">
                            <h4>Унистрой</h4>
                        </div>
                        <p class="partner-item__content">
                            Мы создаем жилые комплексы, кварталы, микрорайоны...
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/markweber.png" alt="markweber">
                            <h4>Студия Марк Вебер</h4>
                        </div>
                        <p class="partner-item__content">
                            Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/m.video.png" alt="m.video">
                            <h4>М.Видео</h4>
                        </div>
                        <p class="partner-item__content">
                            Интеренет-магазин цифровой техники и электроники
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__left js-tabs-item" id="tab_4">
                <div class="partner__content">
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/Unistroy.png" alt="Unistroy">
                            <h4>Унистрой</h4>
                        </div>
                        <p class="partner-item__content">
                            Мы создаем жилые комплексы, кварталы, микрорайоны...
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/markweber.png" alt="markweber">
                            <h4>Студия Марк Вебер</h4>
                        </div>
                        <p class="partner-item__content">
                            Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/m.video.png" alt="m.video">
                            <h4>М.Видео</h4>
                        </div>
                        <p class="partner-item__content">
                            Интеренет-магазин цифровой техники и электроники
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/Unistroy.png" alt="Unistroy">
                            <h4>Унистрой</h4>
                        </div>
                        <p class="partner-item__content">
                            Мы создаем жилые комплексы, кварталы, микрорайоны...
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/markweber.png" alt="markweber">
                            <h4>Студия Марк Вебер</h4>
                        </div>
                        <p class="partner-item__content">
                            Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/m.video.png" alt="m.video">
                            <h4>М.Видео</h4>
                        </div>
                        <p class="partner-item__content">
                            Интеренет-магазин цифровой техники и электроники
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__left js-tabs-item" id="tab_5">
                <div class="partner__content">
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/Unistroy.png" alt="Unistroy">
                            <h4>Унистрой</h4>
                        </div>
                        <p class="partner-item__content">
                            Мы создаем жилые комплексы, кварталы, микрорайоны...
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/markweber.png" alt="markweber">
                            <h4>Студия Марк Вебер</h4>
                        </div>
                        <p class="partner-item__content">
                            Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/m.video.png" alt="m.video">
                            <h4>М.Видео</h4>
                        </div>
                        <p class="partner-item__content">
                            Интеренет-магазин цифровой техники и электроники
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/Unistroy.png" alt="Unistroy">
                            <h4>Унистрой</h4>
                        </div>
                        <p class="partner-item__content">
                            Мы создаем жилые комплексы, кварталы, микрорайоны...
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/markweber.png" alt="markweber">
                            <h4>Студия Марк Вебер</h4>
                        </div>
                        <p class="partner-item__content">
                            Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/m.video.png" alt="m.video">
                            <h4>М.Видео</h4>
                        </div>
                        <p class="partner-item__content">
                            Интеренет-магазин цифровой техники и электроники
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__left js-tabs-item" id="tab_6">
                <div class="partner__content">
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/Unistroy.png" alt="Unistroy">
                            <h4>Унистрой</h4>
                        </div>
                        <p class="partner-item__content">
                            Мы создаем жилые комплексы, кварталы, микрорайоны...
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/markweber.png" alt="markweber">
                            <h4>Студия Марк Вебер</h4>
                        </div>
                        <p class="partner-item__content">
                            Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/m.video.png" alt="m.video">
                            <h4>М.Видео</h4>
                        </div>
                        <p class="partner-item__content">
                            Интеренет-магазин цифровой техники и электроники
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/alpfa.png" alt="alpfa">
                            <h4>Альфа-Банк</h4>
                        </div>
                        <p class="partner-item__content">
                            30 лет строим и развиваем
                            обслуживание офлайн
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/Unistroy.png" alt="Unistroy">
                            <h4>Унистрой</h4>
                        </div>
                        <p class="partner-item__content">
                            Мы создаем жилые комплексы, кварталы, микрорайоны...
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/markweber.png" alt="markweber">
                            <h4>Студия Марк Вебер</h4>
                        </div>
                        <p class="partner-item__content">
                            Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                    <div class="partner-item">
                        <div class="partner-item__title">
                            <img src="/img/m.video.png" alt="m.video">
                            <h4>М.Видео</h4>
                        </div>
                        <p class="partner-item__content">
                            Интеренет-магазин цифровой техники и электроники
                        </p>
                        <div class="partner-item__btn">
                            <p class="partner-item__link">Подробнее</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section__right sidebar-nav">
                <div class="sidebar-nav__inner">
                    <div class="sidebar-nav__link sidebar-nav__link--active" data-tab="#tab_1">
                        Категория 1
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_2">
                        Категория 2
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_3">
                        Категория 3
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_4">
                        Категория 4
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_5">
                        Категория 5
                    </div>
                    <div class="sidebar-nav__link" data-tab="#tab_6">
                        Категория 6
                    </div>
                </div>
            </div>
        </div>
</div>
    
