<section class="Payments-and-transfers">
    <div class="container">
        <div class="Payments-and-transfers__inner">
            <div class="Payments-and-transfers__title">Платежи и переводы</div>
            <div class="search">
                <form action="#" class="search-form">
                        <input type="text" class="search-input" placeholder="Поиск" required>
                        <button>
                            <svg class="search__active">
                                <use xlink:href="#search" />
                            </svg>
                        </button>
                </form>
                <div class="search-btn">
                    <a class="search-btn__link">Дом.ру</a>
                    <a class="search-btn__link">Steam</a>
                    <a class="search-btn__link">Штрафы</a>
                    <a class="search-btn__link">Мобильная связь</a>
                    <a class="search-btn__link">Штрафы</a>
                </div>
            </div>
            <div class="mobile-connection">
                <div class="mobile-connection__title">
                    <svg>
                        <use xlink:href="#chevron-down" />
                    </svg>
                    Мобильная связь</div>
                <div class="mobile-connection__inner">
                    <a class="mobile-connection__card">
                        <div class="mobile-connection__img">
                            <img src="/img/mts.png" alt="MTS">
                        </div>
                        <div class="mobile-connection__descr">
                            МТС
                        </div>
                    </a>
                    <a class="mobile-connection__card">
                        <div class="mobile-connection__img">
                           <img src="/img/sbermobail.png" alt="sbermobail">
                        </div>
                        <div class="mobile-connection__descr">
                            СберМобайл
                        </div>
                    </a>
                    <a class="mobile-connection__card">
                        <div class="mobile-connection__img">
                            <img src="/img/beeline.png" alt="beeline">
                        </div>
                        <div class="mobile-connection__descr">
                            Билайн
                        </div>
                    </a>
                    <a class="mobile-connection__card">
                        <div class="mobile-connection__img">
                           <img src="/img/tattelecom.png" alt="tattelecom">
                        </div>
                        <div class="mobile-connection__descr">
                            ТатТелеКом
                        </div>
                    </a>
                    <a class="mobile-connection__card">
                        <div class="mobile-connection__img">
                            <img src="/img/yota.png" alt="yota">
                        </div>
                        <div class="mobile-connection__descr">
                            Йота
                        </div>
                    </a>
                    <a class="mobile-connection__card">
                        <div class="mobile-connection__img">
                            <img src="/img/tele.png" alt="tele">
                        </div>
                        <div class="mobile-connection__descr">
                            Теле2
                        </div>
                    </a>
                    <a class="mobile-connection__card">
                        <div class="mobile-connection__img">
                            <img src="/img/megafon.png" alt="megafon">
                        </div>
                        <div class="mobile-connection__descr">
                            Мегафон
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>