<div class="payment-history__inner">
    <div class="history">
    <div class="container">
        <div class="history__inner">
            <h2 class="payment-history__title">
            История платежей
            </h2>
            <div class="search">
                <form action="#" class="search-form">
                        <input type="text" class="search-input" placeholder="Поиск" required>
                        <button>
                            <svg class="search__active">
                                <use xlink:href="#search" />
                            </svg>
                        </button>
                </form>
            </div>
            <div class="history-form">
                <div class="history-form__setting">
                    <svg>
                        <use xlink:href="#settings-history" />
                    </svg>
                </div>
                <button class="history-form__btn">Пополнение</button>
                <button class="history-form__btn">Списание</button>
                <input class="history-form__btn" type="text" name="datefilter" value="15 июня — 15 декабря" />
                <div class="history-form__btn history-form__group">
                        <div class="history-form__group-btn">
                            <div class="history-form__group-cross">
                                Счета и карты: <span>2</span>
                                <svg>
                                    <use xlink:href="#chevron-down" />
                                </svg>
                            </div>
                        </div>
                        <div class="history-form__group-dropdown">
                            <div class="history-form__group-dropdown-inner">
                                <div class="history-form__group-dropdown-scroll-wrapper">
                                    <label>Карта 1</label>
                                    <label>Карта 2</label>
                                    <label>Карта 3</label>
                                    <label>Карта 4</label>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="history-card">
                <div class="history-card__header">
                    <h5 class="history-card__title">Сегодня, 14 декабря</h5>
                    <p class="history-card__sum">−4567,25 ₽</p>
                </div>
                <div class="history-card__body">
                    <div class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/yandex-taxi.png" alt="yandex-taxi">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Яндекс.Такси</h4>
                            <span class="history-card-item__subtitle">Общественный транспорт</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−183 ₽</p>
                            <p class="history-card-item__sum--subtitle">+6</p>
                        </div>
                    </div>
                    <div class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/toe.png" alt="toe">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Пятёрочка</h4>
                            <span class="history-card-item__subtitle">Гипермаркет</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−1684,44 ₽</p>
                            <p class="history-card-item__sum--subtitle">+3</p>
                        </div>
                    </div>
                    <div class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/yandex-eda.png" alt="yandex-eda">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Яндекс.Еда</h4>
                            <span class="history-card-item__subtitle">Кафе и рестораны</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−1243 ₽</p>
                            <p class="history-card-item__sum--subtitle">+7</p>
                        </div>
                    </div>
                    <div class="history-card-item">
                        <div class="history-card-item__img">
                            <svg>
                                <use xlink:href="#food" />
                            </svg>
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Y0014094 RU Gabidullin i a divan</h4>
                            <span class="history-card-item__subtitle">Кафе и рестораны</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title history__add">+110 ₽</p>
                            <p class="history-card-item__sum--subtitle">+3</p>
                        </div>
                    </div>
                    <div class="history-card-item">
                        <div class="history-card-item__img">
                            <svg>
                                <use xlink:href="#surface" />
                            </svg>
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">ООО Исколла (STEAM), ИНН 5902879646</h4>
                            <span class="history-card-item__subtitle">Мультимедиа</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−2420 ₽</p>
                            <p class="history-card-item__sum--subtitle">+7</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="history-card">
                <div class="history-card__header">
                    <h5 class="history-card__title">Вчера, 13 декабря</h5>
                    <p class="history-card__sum">−4567,25 ₽</p>
                </div>
                <div class="history-card__body">
                    <div class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/yandex-taxi.png" alt="yandex-taxi">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Яндекс.Такси</h4>
                            <span class="history-card-item__subtitle">Общественный транспорт</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−183 ₽</p>
                            <p class="history-card-item__sum--subtitle">+6</p>
                        </div>
                    </div>
                    <div class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/toe.png" alt="toe">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Пятёрочка</h4>
                            <span class="history-card-item__subtitle">Гипермаркет</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−1684,44 ₽</p>
                            <p class="history-card-item__sum--subtitle">+3</p>
                        </div>
                    </div>
                    <div class="history-card-item">
                        <div class="history-card-item__img">
                            <img src="/img/yandex-eda.png" alt="yandex-eda">
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Яндекс.Еда</h4>
                            <span class="history-card-item__subtitle">Кафе и рестораны</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−1243 ₽</p>
                            <p class="history-card-item__sum--subtitle">+7</p>
                        </div>
                    </div>
                    <div class="history-card-item">
                        <div class="history-card-item__img">
                            <svg>
                                <use xlink:href="#food" />
                            </svg>
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">Y0014094 RU Gabidullin i a divan</h4>
                            <span class="history-card-item__subtitle">Кафе и рестораны</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">+110 ₽</p>
                            <p class="history-card-item__sum--subtitle">+3</p>
                        </div>
                    </div>
                    <div class="history-card-item">
                        <div class="history-card-item__img">
                            <svg>
                                <use xlink:href="#surface" />
                            </svg>
                        </div>
                        <div class="history-card-item__header">
                            <h4 class="history-card-item__title">ООО Исколла (STEAM), ИНН 5902879646</h4>
                            <span class="history-card-item__subtitle">Мультимедиа</span>
                        </div>
                        <div class="history-card-item__sum">
                            <p class="history-card-item__sum--title">−2420 ₽</p>
                            <p class="history-card-item__sum--subtitle">+7</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
