<section class="payments">
            <div class="operations">
            <div class="payments__inner">
                <a href="#" class="payments__title title">
                    <h2>Платежи и переводы</h2>
                    <svg class="payments__title-svg">
                        <use xlink:href="#chevron-down"/>
                    </svg>
                </a>
                <div class="payments__wrapper">
                    <a class="payments__card">
                        <div class="payments-img">
                            <svg>
                                <use xlink:href="#payments"/>
                            </svg>   
                        </div>
                        <div class="payments-content">
                            <h3 class="payments-content__title">Оплатить</h3>
                            <p class="payments-content__subtitle">ЖКХ, услуги, штрафы</p>
                        </div>
                    </a>
                    <a class="payments__card">
                        <div class="payments-img">
                            <svg>
                                <use xlink:href="#card"/>
                            </svg>   
                        </div>
                        <div class="payments-content">
                            <h3 class="payments-content__title">По номеру карты</h3>
                            <p class="payments-content__subtitle"></p>
                        </div>
                    </a>
                    <a class="payments__card">
                        <div class="payments-img">
                            <svg>
                                <use xlink:href="#telefon"/>
                            </svg>   
                        </div>
                        <div class="payments-content">
                            <h3 class="payments-content__title">По номеру телефона</h3>
                            <p class="payments-content__subtitle">Система быстрых плтежей <img src="/img/spb.png" alt="spb"></p>
                        </div>
                    </a>
                    <a class="payments__card">
                        <div class="payments-img">
                            <svg>
                                <use xlink:href="#score"/>
                            </svg>   
                        </div>
                        <div class="payments-content">
                            <h3 class="payments-content__title">Между счетами</h3>
                            <p class="payments-content__subtitle"></p>
                        </div>
                    </a>
                    <a class="payments__card">
                        <div class="payments-img">
                            <svg>
                                <use xlink:href="#upload"/>
                            </svg>   
                        </div>
                        <div class="payments-content">
                            <h3 class="payments-content__title">Пополнить</h3>
                            <p class="payments-content__subtitle"></p>
                        </div>
                    </a>
                    <a class="payments__card">
                        <div class="payments-img">
                            <svg>
                                <use xlink:href="#doc"/>
                            </svg>   
                        </div>
                        <div class="payments-content">
                            <h3 class="payments-content__title">По реквизитам</h3>
                            <p class="payments-content__subtitle"></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="templates__inner">
                <a href="#" class="templates__title title">
                    <h2>Шаблоны</h2>
                    <svg class="templates__title-svg">
                        <use xlink:href="#chevron-down"/>
                    </svg>
                </a>
                <div class="templates__wrapper">
                    <div class="templates__card">
                        <div class="templates-img">
                            <img src="/img/apple.png" alt="apple">  
                        </div>
                        <div class="templates-content">
                            <h3 class="templates-content__title">Apple Music</h3>
                        </div>
                    </div>
                    <div class="templates__card">
                        <div class="templates-img">
                            <img src="/img/tinkoff.png" alt="tinkoff">  
                        </div>
                        <div class="templates-content">
                            <h3 class="templates-content__title">Маме на <br> Тинёк</h3>
                        </div>
                    </div>
                    <div class="templates__card">
                        <div class="templates-img">
                            <img src="/img/alpfa.png" alt="alpfa">  
                        </div>
                        <div class="templates-content">
                            <h3 class="templates-content__title">Себе на <br> Альфа Банк</h3>
                        </div>
                    </div>
                    <div class="templates__card">
                        <div class="templates-img">
                            <img src="/img/rub.png" alt="rub">  
                        </div>
                        <div class="templates-content">
                            <h3 class="templates-content__title">Кредит за <br> теливизор...</h3>
                        </div>
                    </div>
                    <div class="templates__card">
                        <div class="templates-img">
                            <img src="/img/plus.png" alt="plus">
                        </div>
                        <div class="templates-content">
                            <h3 class="templates-content__title"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>