<section class="Payments-and-transfers">
    <div class="container">
        <div class="Payments-and-transfers__inner">
            <div class="Payments-and-transfers__title">Платежи и переводы</div>
            <div class="search">
                <form action="#" class="search-form">
                        <input type="text" class="search-input" placeholder="Поиск">
                        <button>
                            <svg>
                                <use xlink:href="#search" />
                            </svg>
                        </button>

                </form>
                <div class="search-btn">
                    <a class="search-btn__link">Дом.ру</a>
                    <a class="search-btn__link">Steam</a>
                    <a class="search-btn__link">Штрафы</a>
                    <a class="search-btn__link">Мобильная связь</a>
                    <a class="search-btn__link">Штрафы</a>
                </div>
            </div>
            <div class="payments__inner">
                <div class="payments__wrapper">
                    <a class="payments__card">
                        <div class="payments-img">
                            <svg>
                                <use xlink:href="#payments" />
                            </svg>
                        </div>
                        <div class="payments-content">
                            <h3 class="payments-content__title">Оплатить</h3>
                            <p class="payments-content__subtitle">ЖКХ, услуги, штрафы</p>
                        </div>
                    </a>
                    <a class="payments__card">
                        <div class="payments-img">
                            <svg>
                                <use xlink:href="#card" />
                            </svg>
                        </div>
                        <div class="payments-content">
                            <h3 class="payments-content__title">По номеру карты</h3>
                            <p class="payments-content__subtitle"></p>
                        </div>
                    </a>
                    <a class="payments__card">
                        <div class="payments-img">
                            <svg>
                                <use xlink:href="#telefon" />
                            </svg>
                        </div>
                        <div class="payments-content">
                            <h3 class="payments-content__title">По номеру телефона</h3>
                            <p class="payments-content__subtitle">Система быстрых плтежей</p>
                        </div>
                    </a>
                    <a class="payments__card">
                        <div class="payments-img">
                            <svg>
                                <use xlink:href="#score" />
                            </svg>
                        </div>
                        <div class="payments-content">
                            <h3 class="payments-content__title">Между счетами</h3>
                            <p class="payments-content__subtitle"></p>
                        </div>
                    </a>
                    <a class="payments__card">
                        <div class="payments-img">
                            <svg>
                                <use xlink:href="#upload" />
                            </svg>
                        </div>
                        <div class="payments-content">
                            <h3 class="payments-content__title">Пополнить</h3>
                            <p class="payments-content__subtitle"></p>
                        </div>
                    </a>
                    <a class="payments__card">
                        <div class="payments-img">
                            <svg>
                                <use xlink:href="#doc" />
                            </svg>
                        </div>
                        <div class="payments-content">
                            <h3 class="payments-content__title">По реквизитам</h3>
                            <p class="payments-content__subtitle"></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="categories">
                <div class="categories__title">Категории</div>
                <div class="categories__inner">
                    <a class="categories__card">
                        <div class="categories__img">
                            <svg>
                                <use xlink:href="#iphone" />
                            </svg>
                        </div>
                        <div class="categories__descr">
                            Мобильная связь
                        </div>
                    </a>
                    <a class="categories__card">
                        <div class="categories__img">
                            <svg>
                                <use xlink:href="#internet" />
                            </svg>
                        </div>
                        <div class="categories__descr">
                            Интернет
                        </div>
                    </a>
                    <a class="categories__card">
                        <div class="categories__img">
                            <svg>
                                <use xlink:href="#tv" />
                            </svg>
                        </div>
                        <div class="categories__descr">
                            Телевидение
                        </div>
                    </a>
                    <a class="categories__card">
                        <div class="categories__img">
                            <svg>
                                <use xlink:href="#house" />
                            </svg>
                        </div>
                        <div class="categories__descr">
                            Услуги ЖКХ
                        </div>
                    </a>
                    <a class="categories__card">
                        <div class="categories__img">
                            <svg>
                                <use xlink:href="#game" />
                            </svg>
                        </div>
                        <div class="categories__descr">
                            Игры
                        </div>
                    </a>
                    <a class="categories__card">
                        <div class="categories__img">
                            <svg>
                                <use xlink:href="#telephone" />
                            </svg>
                        </div>
                        <div class="categories__descr">
                            Телефония
                        </div>
                    </a>
                    <a class="categories__card">
                        <div class="categories__img">
                            <svg>
                                <use xlink:href="#shopping" />
                            </svg>
                        </div>
                        <div class="categories__descr">
                            Интернет-магазины
                        </div>
                    </a>
                    <a class="categories__card">
                        <div class="categories__img">
                            <svg>
                                <use xlink:href="#tickets" />
                            </svg>
                        </div>
                        <div class="categories__descr">
                            Билеты
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>