<div class="payment-made">
    <div class="container">
        <div class="payment-made__title title">Оплата проведена</div>
        <div class="payment-made__wrapper">
            <div class="payment-made__inner">
                <div class="total">
                <div class="total__content">
                    <div class="total__title">−1250 ₽</div>
                    <div class="total__subtitle">С учетом комисси 50 ₽</div>
                </div>
                <div class="total__img">
                    <img src="/img/alpfa.png" alt="alpfa">
                </div>
                </div>
                <div class="payment-made-props">
                    <div class="payment-made-props__item">
                        <div class="payment-made-props__title">Номер карты</div>
                        <div class="payment-made-props__subtitle">5536 9138 4725 3883</div>
                    </div>
                    <div class="payment-made-props__item">
                        <div class="payment-made-props__title">Банк</div>
                        <div class="payment-made-props__subtitle">Тинькофф Банк</div>
                    </div>
                    <div class="payment-made-props__item">
                        <div class="payment-made-props__title">Со счета</div>
                        <div class="payment-made-props__subtitle">Кредитная карта *1256</div>
                    </div>
                </div>
                <div class="payment-made__link">
                    <a href="#" class="btn btn--active">Готово</a>
                </div>
            </div>
                <div class="sidebar-nav">
                <div class="sidebar-nav__inner">
                    <a href="#" class="sidebar-nav__link sidebar-nav__link--active">
                        <svg>
                            <use xlink:href="#star" />
                        </svg>
                        Создать шаблон
                    </a>
                    <a href="#" class="sidebar-nav__link">
                        <svg>
                            <use xlink:href="#receipt" />
                        </svg>
                        Квитанция
                    </a>
                    <a href="#" class="sidebar-nav__link">
                        <svg>
                            <use xlink:href="#replace" />
                        </svg>
                        Повторить
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>