<div class="phone-translation section">
        <div class="title-main">По номеру телефона</div>
        <div class="phone-translation-form section__inner">
            <div class="phone-translation-form__inner section__left">
                <form class="phone-translation-form__item">
                    <div class="form-tel">
                        <h5 class="form-tel__title">Номер телефона</h5>
                        <input type="text" class="form-tel__input js-phone-mask" placeholder="+7 (000) 000 00 00">
                    </div>
                    <div class="card-selection card-selection__inner">
                        <div class="js-select">
                            <div class="card-selection__header js-select__header">
                                <div class="card-selection__item card-selection__item--score js-select__current">
                                    <div class="card-selection__img">
                                        <img src="/img/alpfa.png" alt="alpfa">
                                    </div>
                                    <div class="card-selection__content">
                                        <div class="card-selection__title">Константин Ю.</div>
                                        <div class="card-selection__subtitle">Альфа Банк</div>
                                    </div>
                                    <div class="card-selection__link">
                                        <svg>
                                            <use xlink:href="#arrows"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="card-selection__body js-select--active">
                                <div class="card-selection__item js-select__item">
                                    <div class="card-selection__img card-selection__img--more">
                                        <img src="/img/tinkoff-yellow.png" alt="tinkoff">
                                    </div>
                                    <div class="card-selection__content">
                                        <div class="card-selection__title">Константин Ю.</div>
                                        <div class="card-selection__subtitle">Тинькофф</div>
                                    </div>
                                    <div class="card-selection__link">
                                        <svg>
                                            <use xlink:href="#arrows"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="card-selection__item js-select__item">
                                    <div class="card-selection__img card-selection__img--more">
                                        <img src="/img/alpfa.png" alt="alpfa">
                                    </div>
                                    <div class="card-selection__content">
                                        <div class="card-selection__title">Константин Ю.</div>
                                        <div class="card-selection__subtitle">Альфа Банк</div>
                                    </div>
                                    <div class="card-selection__link">
                                        <svg>
                                            <use xlink:href="#arrows"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="card-selection__item js-select__item">
                                    <div class="card-selection__img card-selection__img--more">
                                        <svg>
                                            <use xlink:href="#more" />
                                        </svg>
                                    </div>
                                    <div class="card-selection__content">
                                        <div class="card-selection__title">В другой банк</div>
                                    </div>
                                    <div class="card-selection__link">
                                        <svg>
                                            <use xlink:href="#arrows"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-selection">
                        <div class="card-selection__title">Откуда</div>
                        <div class="card-selection__inner js-select">
                            <div class="card-selection__header js-select__header">
                                <div class="card-selection__item card-selection__item--score js-select__current">
                                    <div class="card-selection__img">
                                        <img src="/img/card-selection.png" alt="card-selection">
                                    </div>
                                    <div class="card-selection__content">
                                        <div class="card-selection__title">Дебетовая карт *1256</div>
                                        <div class="card-selection__subtitle">90 789,<span>23 ₽</span></div>
                                    </div>
                                    <div class="card-selection__link">
                                        <svg>
                                            <use xlink:href="#arrows"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="card-selection__body js-select--active">
                                <div class="card-selection__item card-selection__item--score js-select__item">
                                    <div class="card-selection__img">
                                        <img src="/img/card-selection.png" alt="card-selection">
                                    </div>
                                    <div class="card-selection__content">
                                        <div class="card-selection__title">Дебетовая карт *1256</div>
                                        <div class="card-selection__subtitle">90 789,<span>23 ₽</span></div>
                                    </div>
                                    <div class="card-selection__link">
                                        <svg>
                                            <use xlink:href="#arrows"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="card-selection__item card-selection__item--score js-select__item">
                                    <div class="card-selection__img">
                                        <img src="/img/card-selection.png" alt="card-selection">
                                    </div>
                                    <div class="card-selection__content">
                                        <div class="card-selection__title">Кредитная карт *1256</div>
                                        <div class="card-selection__subtitle">90 789,<span>23 ₽</span></div>
                                    </div>
                                    <div class="card-selection__link">
                                        <svg>
                                            <use xlink:href="#arrows"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="card-selection__item card-selection__item--score js-select__item">
                                    <div class="card-selection__img">
                                        <img src="/img/card-selection.png" alt="card-selection">
                                    </div>
                                    <div class="card-selection__content">
                                        <div class="card-selection__title">Чужая карт *1256</div>
                                        <div class="card-selection__subtitle">90 789,<span>23 ₽</span></div>
                                    </div>
                                    <div class="card-selection__link">
                                        <svg>
                                            <use xlink:href="#arrows"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-selection">
                        <div class="card-selection__title">Сумма</div>
                        <input type="text" class="card-selection__input js-numeric-input" placeholder="0 ₽">
                        <div class="card-selection__descr">Без коммисии</div>
                    </div>
                    <button class="btn btn--active">
                        Оплатить
                    </button>
                </form>
                
            </div>
            <div class="section__right"></div>
        </div>
</div>