<div class="phone-translation">
    <div class="container">
        <div class="phone-translation__title">По номеру телефона</div>
        <div class="phone-translation-form">
            <div class="phone-translation-form__inner">
                <div class="phone-translation-form__item">
                    <div class="phone-translation-form__title">Номер телефона</div>
                    <input type="text" class="phone-translation-form__input js-phone-mask" placeholder="+7 (000) 00 00 00">
                </div>
            </div>
        </div>
    </div>
</div>