<section class="section entrance-section">
    <div class="menu-entrance">
        <div class="menu-entrance__item">
            <a href="tel:+88432991111">
                <span>
                    8 843 299-11-11
                </span>
            </a>
        </div>
        <div class="menu-entrance__item">
            <a href="tel:88003505151">
                <span>
                    8-800-350-51-51
                </span>
            </a>
            <span>для регионов России</span>
        </div>
        <div class="menu-entrance__item">
            <a href="#">
                <svg>
                    <use xlink:href="#fb" />
                </svg>
            </a>
            <a href="#">
                <svg>
                    <use xlink:href="#vk" />
                </svg>
            </a>
        </div>
    </div>
    <div class="section__inner entrance-section__inner">
        <div class="section__left entrance__left">
            <h1 class="title-main">
                Регистрация
            </h1>
            <div class="form__div">
                <input type="text" autocomplete="off" class="form__input" placeholder=" " name="fio" data-validate-field="fio">
                <label for="" class="form__label">Фамилия</label>
            </div>
            <div class="form__div">
                <input type="text" autocomplete="off" class="form__input" placeholder=" " name="fio" data-validate-field="fio">
                <label for="" class="form__label">Имя</label>
            </div>
            <div class="form__div">
                <input type="text" autocomplete="off" class="form__input" placeholder=" " name="fio" data-validate-field="fio">
                <label for="" class="form__label">Отчество</label>
            </div>
            <div class="form-box">
                <div class="form__div">
                    <input type="text" autocomplete="off" class="form__input" placeholder=" " name="fio" data-validate-field="fio">
                    <label for="" class="form__label">Серия</label>
                </div>
                <div class="form__div">
                    <input type="text" autocomplete="off" class="form__input" placeholder=" " name="fio" data-validate-field="fio">
                    <label for="" class="form__label">Номер документа</label>
                </div>
            </div>
            <div class="form__div">
                <input type="text" autocomplete="off" class="form__input js-phone-mask" placeholder=" " name="fio" data-validate-field="fio">
                <label for="" class="form__label">Мобильный телефон</label>
            </div>
            <div class="form__div">
                <input type="text" autocomplete="off" class="form__input" placeholder=" " name="fio" data-validate-field="fio">
                <label for="" class="form__label">Номер договора, счета или карты</label>
            </div>
            <div class="form__div">
                <input type="text" autocomplete="off" class="form__input" placeholder=" " name="fio" data-validate-field="fio">
                <label for="" class="form__label">ИНН</label>
            </div>
            <div class="form__div">
                <input type="text" autocomplete="off" class="form__input" placeholder=" " name="fio" data-validate-field="fio">
                <label for="" class="form__label">Кодовое слово (для регистрации)</label>
            </div>
            <a href="/" class="btn btn--active">
            <span>Продолжить</span>
            </a>
        </div>
        <div class="section__right entrance-nav">
            <a href="#" class="entrance__link sidebar-nav__link">
                <span>
                    Войти по логину
                </span>
            </a>
        </div>

    </div>
</section>