<section class="section">
    <h2 class="title">По реквизитам</h2>
    <div class="section__wrapper">
        <form class="section__left">
                <div class="form__item form__item--wide">
                    <input type="number" class="form__input" placeholder=" ">
                    <label for="" class="form__label">БИК банка получателя</label>
                </div>
                <div class="form__item form__item--wide">
                    <input type="number" class="form__input" placeholder=" ">
                    <label for="" class="form__label">Счет получателя</label>
                </div>
                <div class="card-selection">
                    <div class="card-selection__title">Откуда</div>
                    <div class="card-selection__inner js-select">
                        <div class="card-selection__header js-select__header">
                            <div class="card-selection__item card-selection__item--score js-select__current">
                                <div class="card-selection__img">
                                    <img src="/img/card-selection.png" alt="card-selection">
                                </div>
                                <div class="card-selection__content">
                                    <div class="card-selection__title">Дебетовая карт *1256</div>
                                    <div class="card-selection__subtitle">90 789,<span>23 ₽</span></div>
                                </div>
                                <div class="card-selection__link">
                                    <svg>
                                        <use xlink:href="#arrows"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="card-selection__body js-select--active">
                            <div class="card-selection__item card-selection__item--score js-select__item">
                                <div class="card-selection__img">
                                    <img src="/img/card-selection.png" alt="card-selection">
                                </div>
                                <div class="card-selection__content">
                                    <div class="card-selection__title">Дебетовая карт *1256</div>
                                    <div class="card-selection__subtitle">90 789,<span>23 ₽</span></div>
                                </div>
                                <div class="card-selection__link">
                                    <svg>
                                        <use xlink:href="#arrows"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-selection__item card-selection__item--score js-select__item">
                                <div class="card-selection__img">
                                    <img src="/img/card-selection.png" alt="card-selection">
                                </div>
                                <div class="card-selection__content">
                                    <div class="card-selection__title">Кредитная карт *1256</div>
                                    <div class="card-selection__subtitle">90 789,<span>23 ₽</span></div>
                                </div>
                                <div class="card-selection__link">
                                    <svg>
                                        <use xlink:href="#arrows"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="card-selection__item card-selection__item--score js-select__item">
                                <div class="card-selection__img">
                                    <img src="/img/card-selection.png" alt="card-selection">
                                </div>
                                <div class="card-selection__content">
                                    <div class="card-selection__title">Чужая карт *1256</div>
                                    <div class="card-selection__subtitle">90 789,<span>23 ₽</span></div>
                                </div>
                                <div class="card-selection__link">
                                    <svg>
                                        <use xlink:href="#arrows"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-selection">
                    <div class="card-selection__title">Сумма</div>
                    <input type="text" class="card-selection__input js-numeric-input" placeholder="0 ₽">
                    <span class="card-selection__descr">Без коммисии</span>
                </div>
                <button class="btn btn--off">Далее</button>
        </form>
    </div>
</section>