<section class="settings section">
    <h2 class="title">Настройки</h2>
    <div class="section__inner">
        <form class="section__left">
            <div class="form__inner">
                <div class="form__item">
                    <input type="text" class="form__input" readonly value="Имя" placeholder=" " >
                    <label for="" class="form__label">Имя</label>
                </div>
                <div class="form__item">
                    <input type="text" class="form__input" readonly value="Фамилия" placeholder=" " >
                    <label for="" class="form__label">Фамилия</label>
                </div>
                <div class="form__item">
                    <input type="text" class="form__input" placeholder=" " >
                    <label for="" class="form__label">Логин</label>
                </div>
                <div class="form__item">
                    <input type="text" class="form__input" placeholder=" " >
                    <label for="" class="form__label">Электронная почта</label>
                </div>
                <div class="form__item">
                    <input type="text" class="form__input" placeholder=" " >
                    <label for="" class="form__label">Телефон</label>
                </div>
            </div>
            <div class="settings__title">Изменить пароль</div>
            <div class="form__inner">
                <div class="form__item settings-form__item">
                    <input type="password" class="form__input" placeholder=" " >
                    <label for="" class="form__label">Старый пароль</label>
                </div>
                <div class="form__item settings-form__item">
                    <input type="password" class="form__input" placeholder=" " >
                    <label for="" class="form__label">Новый пароль</label>
                </div>
                <div class="form__item settings-form__item">
                    <input type="password" class="form__input" placeholder=" " >
                    <label for="" class="form__label">Повторите новый пароль</label>
                </div>
            </div>
            <button class="btn btn--active">Сохранить изменения</button>
        </form>
        <div class="section__right">
            <div class="sidebar-nav">
                <div class="sidebar-nav__inner">
                    <a href="/" class="sidebar-nav__link sidebar-nav__link--active">
                        <span>Личные данные</span>
                    </a>       
                    <a href="#" class="sidebar-nav__link exit">
                        <span>Выйти</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>