<div class="sidebar__inner" id="imgBox">
    <div class="sidebar-img sidebar-img--active parallax" data-depth='0.0'>
        <img src="/img/sidebar_bg.jpg" alt="sidebar_bg">
        <img src="/img/sidebar_bg.jpg" alt="sidebar_bg">
    </div>
        <div class="sidebar__content">
            <div class="sidebar-logo">
                <img src="/img/logo.png" alt="Tatsosbank">
            </div>
            <div class="widget widget-main js-accordion">
                <div class="widget__title widget__title--active">
                    Всего денег
                    <svg class="widget-SVG">
                        <use xlink:href="#chevron-down" />
                    </svg>
                </div>
                <div class="widget__body widget__body--active">
                    <p>390 789<span>,78 ₽</span></p>
                </div>
            </div>
            <div class="sidebar__wrapper">
                <div class="widget js-accordion">
                    <div class="widget__title widget__title--active">
                        Карты и счета
                        <svg class="widget-SVG">
                            <use xlink:href="#chevron-down" />
                        </svg>
                    </div>
                    <div class="widget__body widget__body--active">
                        <div class="card js-filters-dropdown filters__select-group">
                            <div class="card-img">
                                <img src="/img/card_2.png" alt="Card">
                            </div>
                            <a href="/banking-product.html" class="card-content">
                                <p class="card-content__subtitle">
                                    Дебетовая карт *1256
                                </p>
                                <p class="card-content__title">
                                    91 789<span>,23 ₽</span>
                                </p>
                            </a>
                            <div class="card-more filters__select-group-btn">
                                <svg class="widget-SVG">
                                    <use xlink:href="#more" />
                                </svg>
                                <div class="card-more-dropdown">
                                    <div class="card-more__inner">
                                        <a href="#">Партнеры</a>
                                        <a href="#">Спецпредложения</a>
                                        <a href="#">Настройки</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card js-filters-dropdown filters__select-group">
                            <div class="card-img">
                                <img src="/img/card_2.png" alt="Card">
                            </div>
                            <div class="card-content">
                                <p class="card-content__subtitle">
                                    Кредитная карта *1256
                                </p>
                                <p class="card-content__title">
                                    23 415<span>,80 ₽</span>
                                </p>
                            </div>
                            <div class="card-more filters__select-group-btn">
                                <svg class="widget-SVG">
                                    <use xlink:href="#more" />
                                </svg>
                                <div class="card-more-dropdown">
                                    <div class="card-more__inner">
                                        <a href="#">Партнеры</a>
                                        <a href="#">Спецпредложения</a>
                                        <a href="#">Настройки</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget js-accordion">
                    <div class="widget__title">
                        Вклады
                        <svg class="widget-SVG">
                            <use xlink:href="#chevron-down" />
                        </svg>
                    </div>
                    <div class="widget__body">
                        <div class="card js-filters-dropdown filters__select-group">
                            <div class="card-img">
                                <img src="/img/card_2.png" alt="Card">
                            </div>
                            <div class="card-content">
                                <p class="card-content__subtitle">
                                    Дебетовая карт *1256
                                </p>
                                <p class="card-content__title">
                                    90 789,<span>23 ₽</span>
                                </p>
                            </div>
                            <div class="card-more filters__select-group-btn">
                                <svg class="widget-SVG">
                                    <use xlink:href="#more" />
                                </svg>
                                <div class="card-more-dropdown">
                                    <div class="card-more__inner">
                                        <a href="#">Партнеры</a>
                                        <a href="#">Спецпредложения</a>
                                        <a href="#">Настройки</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card js-filters-dropdown filters__select-group">
                            <div class="card-img">
                                <img src="/img/card_2.png" alt="Card">
                            </div>
                            <div class="card-content">
                                <p class="card-content__subtitle">
                                    Кредитная карта *1256
                                </p>
                                <p class="card-content__title">
                                    23 415<span>,80 ₽</span>
                                </p>
                            </div>
                            <div class="card-more filters__select-group-btn">
                                <svg class="widget-SVG">
                                    <use xlink:href="#more" />
                                </svg>
                                <div class="card-more-dropdown">
                                    <div class="card-more__inner">
                                        <a href="#">Партнеры</a>
                                        <a href="#">Спецпредложения</a>
                                        <a href="#">Настройки</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget js-accordion">
                    <div class="widget__title">
                        Кредиты
                        <svg class="widget-SVG">
                            <use xlink:href="#chevron-down" />
                        </svg>
                    </div>
                    <div class="widget__body">
                        <div class="card js-filters-dropdown filters__select-group">
                            <div class="card-img">
                                <img src="/img/card_2.png" alt="Card">
                            </div>
                            <div class="card-content">
                                <p class="card-content__subtitle">
                                    Дебетовая карт *1256
                                </p>
                                <p class="card-content__title">
                                    90 789,<span>23 ₽</span>
                                </p>
                            </div>
                            <div class="card-more filters__select-group-btn">
                                <svg class="widget-SVG">
                                    <use xlink:href="#more" />
                                </svg>
                                <div class="card-more-dropdown">
                                    <div class="card-more__inner">
                                        <a href="#">Партнеры</a>
                                        <a href="#">Спецпредложения</a>
                                        <a href="#">Настройки</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card js-filters-dropdown filters__select-group">
                            <div class="card-img">
                                <img src="/img/card_2.png" alt="Card">
                            </div>
                            <div class="card-content">
                                <p class="card-content__subtitle">
                                    Кредитная карта *1256
                                </p>
                                <p class="card-content__title">
                                    23 415<span>,80 ₽</span>
                                </p>
                            </div>
                            <div class="card-more filters__select-group-btn">
                                <svg class="widget-SVG">
                                    <use xlink:href="#more" />
                                </svg>
                                <div class="card-more-dropdown">
                                    <div class="card-more__inner">
                                        <a href="#">Партнеры</a>
                                        <a href="#">Спецпредложения</a>
                                        <a href="#">Настройки</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/open-a-new-product.html" class="sidebar__link"><span>Открыть новый продукт</span></a>
        </div>
</div>