<div class="sidebar__inner">
    <div class="sidebar-img sidebar-img--active" id="tab_1">
        <img src="/img/sidebar_bg.jpg" alt="sidebar_bg">
        <img src="/img/sidebar_bg.jpg" alt="sidebar_bg">
    </div>
    <div class="sidebar-img" id="tab_2">
        <img src="/img/sidebar_bg-1.jpg" alt="sidebar_bg">
        <img src="/img/sidebar_bg-1.jpg" alt="sidebar_bg">
    </div>
    <div class="sidebar-img" id="tab_3">
        <img src="/img/sidebar_bg-2.jpg" alt="sidebar_bg">
        <img src="/img/sidebar_bg-2.jpg" alt="sidebar_bg">
    </div>
    <div class="sidebar-img" id="tab_4">
        <img src="/img/sidebar_bg-1.jpg" alt="sidebar_bg">
        <img src="/img/sidebar_bg-1.jpg" alt="sidebar_bg">
    </div>
    <div class="sidebar-img" id="tab_5">
        <img src="/img/sidebar_bg-2.jpg" alt="sidebar_bg">
        <img src="/img/sidebar_bg-2.jpg" alt="sidebar_bg">
    </div>
    <div class="sidebar-img" id="tab_6">
        <img src="/img/sidebar_bg-1.jpg" alt="sidebar_bg">
        <img src="/img/sidebar_bg-1.jpg" alt="sidebar_bg">
    </div>
    <div class="sidebar__content">
        <div class="sidebar-logo">
            <img src="/img/logo.png" alt="Tatsosbank">
        </div>
        <div class="sidebar-settings">
            <div class="sidebar__title">Сменить оформление</div>
            <div class="sidebar-item sidebar-item--active" data-tab="#tab_1">
                <img src="/img/sidebar_bg.jpg" alt="">
            </div>
            <div class="sidebar-item" data-tab="#tab_2">
                <img src="/img/sidebar_bg-1.jpg" alt="">
            </div>
            <div class="sidebar-item" data-tab="#tab_3">
                <img src="/img/sidebar_bg-2.jpg" alt="">
            </div>
            <div class="sidebar-item" data-tab="#tab_4">
                <img src="/img/sidebar_bg-1.jpg" alt="">
            </div>
            <div class="sidebar-item" data-tab="#tab_5">
                <img src="/img/sidebar_bg-2.jpg" alt="">
            </div>
            <div class="sidebar-item" data-tab="#tab_6">
                <img src="/img/sidebar_bg-1.jpg" alt="">
            </div>
        </div>
    </div>
</div>