<div class="sidebar__inner">
    <div class="sidebar-img sidebar-img--active">
        <img src="/img/sidebar_bg.jpg" alt="sidebar_bg">
        <img src="/img/sidebar_bg.jpg" alt="sidebar_bg">
    </div>
        <div class="sidebar__content">
            <div class="sidebar-logo">
                <img src="/img/logo.png" alt="Tatsosbank">
            </div>

            <div class="entrance">
                <h4 class="title__entrance">
                    Банк в приложении
                </h4>
                <span>
                    Скачайте обновленное мобильное приложение 
                    АО «ТАТСОЦБАНК»
                </span>
                <div class="entrance__service">
                    <a href="#" class="entrance__service--item animation__hover">
                        <svg>
                            <use xlink:href="#apple" />
                        </svg>
                    </a>
                    <a href="#" class="entrance__service--item animation__hover">
                        <svg>
                            <use xlink:href="#google-play" />
                        </svg>
                    </a>
                </div>
                <div class="entrance__footer">
                   <ul>
                       <li> © 2015—2020 «AO ТАТСОЦБАНК» </li>
                       <li> АКЦИОНЕРНОЕ ОБЩЕСТВО «БАНК СОЦИАЛЬНОГО РАЗВИТИЯ ТАТАРСТАНА «ТАТСОЦБАНК» </li>
                       <li> 420111, РФ, Республика Татарстан, г. Казань,  ул. Чернышевского, 18/23 </li>
                       <li> Генеральная лицензия ЦБ РФ № 480 от 25.03.2015 </li>
                       <li> Вклады застрахованы в размерах и порядке, предусмотренном законодательством РФ. </li>
                   </ul> 
                </div>
            </div>
        </div>
</div>