<section class="slider">
    <div class="slider__wrapper">
        <a href="#" class="section__title">
            <h2 class="title-heading">Спецпредложения</h2>
            <svg>
                <use xlink:href="#chevron-down" />
            </svg>
        </a>
        <div class="slider__nav">
            <div class="slider__prev">
                <svg>
                    <use xlink:href="#down-arrow" />
                </svg>
            </div>
            <div class="slider__next">
                <svg>
                    <use xlink:href="#down-arrow" />
                </svg>
            </div>
        </div>
    </div>
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <a href="#" class="swiper-slide">
                <div class="slider__inner animation__hover">
                    <img src="img/slider-1.jpg" alt="slider-1">
                    <div class="slider__tag">Советы</div>
                    <div class="slider__title">Кредит на любые цели </div>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <div class="slider__inner animation__hover">
                    <img src="img/slider-2.jpg" alt="slider-2">
                    <div class="slider__tag">Советы</div>
                    <div class="slider__title">Автокредит Премиум</div>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <div class="slider__inner animation__hover">
                    <img src="img/slider-3.jpg" alt="slider-3">
                    <div class="slider__tag">Безопастность</div>
                    <div class="slider__title">Автокредит Премиум</div>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <div class="slider__inner animation__hover">
                    <img src="img/slider-1.jpg" alt="slider-1">
                    <div class="slider__tag">Советы</div>
                    <div class="slider__title">Кредит на любые цели </div>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <div class="slider__inner animation__hover">
                    <img src="img/slider-2.jpg" alt="slider-2">
                    <div class="slider__tag">Советы</div>
                    <div class="slider__title">Автокредит Премиум</div>
                </div>
            </a>
            <a href="#" class="swiper-slide">
                <div class="slider__inner animation__hover">
                    <img src="img/slider-3.jpg" alt="slider-3">
                    <div class="slider__tag">Безопастность</div>
                    <div class="slider__title">Автокредит Премиум</div>
                </div>
            </a>
        </div>
    </div>
</section>