<section class="slider">
    <div class="container">
        <div class="slider__wrapper">
            <h2 class="slider__header">
                Спецпредложения
                <svg>
                    <use xlink:href="#chevron-down" />
                </svg>
            </h2>
            <div class="slider__nav">
                <div class="slider__prev">
                    <svg>
                        <use xlink:href="#down-arrow" />
                    </svg>
                </div>
                <div class="slider__next">
                    <svg>
                        <use xlink:href="#down-arrow" />
                    </svg>
                </div>
            </div>
        </div>
            <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="slider__inner">
                        <img src="/img/slider-1.jpg" alt="slider-1">
                        <div class="slider__tag">Советы</div>
                        <div class="slider__title">Кредит на любые цели </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider__inner">
                        <img src="/img/slider-2.jpg" alt="slider-2">
                        <div class="slider__tag">Советы</div>
                        <div class="slider__title">Автокредит Премиум</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider__inner">
                        <img src="/img/slider-3.jpg" alt="slider-3">
                        <div class="slider__tag">Безопастность</div>
                        <div class="slider__title">Автокредит Премиум</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider__inner">
                        <img src="/img/slider-1.jpg" alt="slider-1">
                        <div class="slider__tag">Советы</div>
                        <div class="slider__title">Кредит на любые цели </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider__inner">
                        <img src="/img/slider-2.jpg" alt="slider-2">
                        <div class="slider__tag">Советы</div>
                        <div class="slider__title">Автокредит Премиум</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider__inner">
                        <img src="/img/slider-3.jpg" alt="slider-3">
                        <div class="slider__tag">Безопастность</div>
                        <div class="slider__title">Автокредит Премиум</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>