<div class="templates-main">
        <div class="templates__box">
            <div class="section__left">
                <a href="#" class="section__title title-main"> 
                    <h2>Шаблоны</h2>
                </a>
                <div class="templates__wrapper">
                    <div class="templates__card">
                        <div class="templates-img">
                            <img src="/img/apple.png" alt="apple">  
                        </div>
                        <div class="templates-content">
                            <h3 class="templates-content__title">Apple Music</h3>
                        </div>
                    </div>
                    <div class="templates__card">
                        <div class="templates-img">
                            <img src="/img/tinkoff.png" alt="tinkoff">  
                        </div>
                        <div class="templates-content">
                            <h3 class="templates-content__title">Маме на Тинёк</h3>
                        </div>
                    </div>
                    <div class="templates__card">
                        <div class="templates-img">
                            <img src="/img/alpfa.png" alt="alpfa">  
                        </div>
                        <div class="templates-content">
                            <h3 class="templates-content__title">Себе на Альфа Банк</h3>
                        </div>
                    </div>
                    <div class="templates__card">
                        <div class="templates-img">
                            <img src="/img/rub.png" alt="rub">
                            <button>
                                <svg>
                                    <use xlink:href="#replace"/>
                                </svg>
                            </button>  
                        </div>
                        <div class="templates-content">
                            <h3 class="templates-content__title">Кредит за теливизор на дачу</h3>
                            <span class="templates-content__subtitle">Ближайший платеж: 12 января</span>
                        </div>
                    </div>
                    <div class="templates__card">
                        <div class="templates-img">
                            <img src="/img/alpfa.png" alt="alpfa">  
                        </div>
                        <div class="templates-content">
                            <h3 class="templates-content__title">Себе на Альфа Банк</h3>
                        </div>
                    </div>
                    <div class="templates__card">
                        <div class="templates-img">
                            <img src="/img/rub.png" alt="rub">
                            <button>
                                <svg>
                                    <use xlink:href="#replace"/>
                                </svg>
                            </button>
                        </div>
                        <div class="templates-content">
                            <h3 class="templates-content__title">Кредит за теливизор на дачу</h3>
                            <span class="templates-content__subtitle">Ближайший платеж: 12 января</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-nav section__right">
                <div class="sidebar-nav__inner">
                    <div class="templates__card">
                        <div class="templates-img">
                            <img src="/img/plus.png" alt="plus">
                        </div>
                        <div class="templates-content">
                            <h3 class="templates-content__title">Создать шаблон или автоплатеж</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>