<section class="templates-create-inside">
    <div class="container">
        <div class="templates-create-inside__inner">
            <h1 class="templates-create-inside__title">Создать шаблон</h1>
            <div class="templates-create-new">
                <h2 class="templates-create-new__title">
                    <svg>
                        <use xlink:href="#chevron-down" />
                    </svg>
                    Мобильная связь
                </h2>
                 <form action="#" class="templates-create-new-form">
                    <div class="templates-create-new-form__item">
                        <h4 class="templates-create-new-form__title">
                           Название шаблона 
                        </h4>
                        <input type="text" placeholder="За мобильную связь"> 
                    </div>
                    <div class="templates-create-new-form__item">
                        <h4 class="templates-create-new-form__title">
                           Номер телефона 
                        </h4>
                        <input type="text" placeholder="+7 (__) ___ __ __"> 
                    </div>
                    <div class="templates-create-new-form__checkbox">
                            <input type="checkbox" class="checkbox-input" id="templates-checkbox">
                            <label for="templates-checkbox" class="checkbox-label">
                            </label>
                        <span>Создать автоплатеж</span>
                    </div>
                 </form>
            </div>
            
        </div>

    </div>
</section>