<div class="transfer-by-card-number">
        <div class="section__left">
            <div class="card-replenishment">
                <div class="card-replenishment__title title-main">Пополнение карты</div>
                <form action="#" class="card-replenishment-form">
                    <div class="card-replenishment-form__item">
                        <div class="card-mask card-mask--active">
                            <input class="js-card-number" type="text" name="number"
                                placeholder="0000 0000 0000 0000">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-selection">
                <h4 class="card-replenishment-form__title">Откуда</h4>
                <div class="card-selection__inner js-select">
                    <div class="card-selection__header js-select__header">
                        <div class="card-selection__item card-selection__item--score js-select__current">
                            <div class="card-selection__img">
                                <img src="/img/rur.png" alt="card-selection">
                            </div>
                            <div class="card-selection__content">
                                <div class="card-selection__title">Дебетовый счет *1256</div>
                                <div class="card-selection__subtitle">90 789,<span>23 ₽</span></div>
                            </div>
                            <div class="card-selection__link">
                                <svg>
                                    <use xlink:href="#arrows"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="card-selection__body js-select--active">
                        <div class="card-selection__item card-selection__item--score js-select__item">
                            <div class="card-selection__img">
                                <img src="/img/rur.png" alt="card-selection">
                            </div>
                            <div class="card-selection__content">
                                <div class="card-selection__title">Дебетовый счет *1256</div>
                                <div class="card-selection__subtitle">90 789,<span>23 ₽</span></div>
                            </div>
                            <div class="card-selection__link">
                                <svg>
                                    <use xlink:href="#arrows"/>
                                </svg>
                            </div>
                        </div>
                        <div class="card-selection__item card-selection__item--score js-select__item">
                            <div class="card-selection__img">
                                <img src="/img/rur.png" alt="card-selection">
                            </div>
                            <div class="card-selection__content">
                                <div class="card-selection__title">Дебетовый счет *1256</div>
                                <div class="card-selection__subtitle">95 789,<span>23 ₽</span></div>
                            </div>
                            <div class="card-selection__link">
                                <svg>
                                    <use xlink:href="#arrows"/>
                                </svg>
                            </div>
                        </div>
                        <div class="card-selection__item card-selection__item--score js-select__item">
                            <div class="card-selection__img">
                                <img src="/img/rur.png" alt="card-selection">
                            </div>
                            <div class="card-selection__content">
                                <div class="card-selection__title">Дебетовый счет *1256</div>
                                <div class="card-selection__subtitle">85 789,<span>23 ₽</span></div>
                            </div>
                            <div class="card-selection__link">
                                <svg>
                                    <use xlink:href="#arrows"/>
                                </svg>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-selection">
                <div class="card-selection__title">Сумма</div>
                <input type="text" class="card-selection__input js-numeric-input" placeholder="0 ₽">
                <div class="card-selection__descr">Без коммисии</div>
            </div>
            <div class="btn btn--active">
                <a href="/payment-made-number.html">Далее</a>
            </div>
        </div>
</div>