<div class="transfer-by-card-number section__left">
        <div class="card-replenishment">
            <div class="title-main">Пополнение карты</div>
            <form action="#" class="card-replenishment-form">
                <div class="card-replenishment-form__item">
                    <div class="card-mask">
                        <input class="js-card-number" type="text" name="number" placeholder="0000 0000 0000 0000">
                    </div>
                </div>
            </form>
        </div>
</div>