<section class="section">
    <h1 class="title-main">История посещений</h1>
    <div class="section__wrapper">
        <div class="history-form">
            <input readonly class="history-form__btn--default" type="text" name="datefilter" value="Выберите дату" />
            <button class="history-form__btn">Сегодня</button>
            <button class="history-form__btn">Неделя</button>
            <button class="history-form__btn">Месяц</button>
        </div>
        <ul class="visit-history">
            <li class="visit-history__item">
                <span>31.02.2021. 16:32</span>
                <span>176.57.581.322</span>
                <span>Моб. приложение</span>
                <span class="successfully">Успешно</span>
            </li>
            <li class="visit-history__item">
                <span>31.02.2021. 16:32</span>
                <span>176.57.581.322</span>
                <span>Моб. приложение</span>
                <span class="successfully">Успешно</span>
            </li>
            <li class="visit-history__item">
                <span>31.02.2021. 16:32</span>
                <span>176.57.581.322</span>
                <span>Моб. приложение</span>
                <span class="successfully">Успешно</span>
            </li>
            <li class="visit-history__item">
                <span>31.02.2021. 16:32</span>
                <span>176.57.581.322</span>
                <span>Моб. приложение</span>
                <span class="successfully">Успешно</span>
            </li>
            <li class="visit-history__item">
                <span>31.02.2021. 16:32</span>
                <span>176.57.581.322</span>
                <span>Моб. приложение</span>
                <span class="successfully">Успешно</span>
            </li>
            <li class="visit-history__item">
                <span>31.02.2021. 16:32</span>
                <span>176.57.581.322</span>
                <span>Моб. приложение</span>
                <span class="error-item">Отказ</span>
            </li>
            <li class="visit-history__item">
                <span>31.02.2021. 16:32</span>
                <span>176.57.581.322</span>
                <span>Моб. приложение</span>
                <span class="successfully">Успешно</span>
            </li>
            <li class="visit-history__item">
                <span>31.02.2021. 16:32</span>
                <span>176.57.581.322</span>
                <span>Моб. приложение</span>
                <span class="successfully">Успешно</span>
            </li>
            <li class="visit-history__item">
                <span>31.02.2021. 16:32</span>
                <span>176.57.581.322</span>
                <span>Моб. приложение</span>
                <span class="successfully">Успешно</span>
            </li>
            <li class="visit-history__item">
                <span>31.02.2021. 16:32</span>
                <span>176.57.581.322</span>
                <span>Моб. приложение</span>
                <span class="successfully">Успешно</span>
            </li>
            <li class="visit-history__item">
                <span>31.02.2021. 16:32</span>
                <span>176.57.581.322</span>
                <span>Моб. приложение</span>
                <span class="successfully">Успешно</span>
            </li>
        </ul>
        <button class="btn">Показать еще</button>
    </div>
</section>