.animation {
    &__plus {
        border-radius: 50px;
        &:hover {
            animation: plus 0.9s ease-in-out infinite;
            transition: 0.3s;
        }
    }
    &__hover {
        &:hover {
            transform: translate3d(0,0,0) scale(1.048);
            transition: 0.3s;
            svg {
                fill: #F1611F;
                transition: 0.3s;
            }
        }
    }
    &__stroke {
        &:hover {
            animation: stroke 0.4s infinite;
            animation-delay: 0;
            // transition: 0.3s;
        }
    }
}


@keyframes plus {
    100% { transform: scale(1.0); }
    50% { transform: scale(1.2); }
    0% { transform: scale(1.0); }
}

@keyframes stroke {
    100% {     transform: rotate(0); }
    50% {     transform: rotate(-360deg); }
    0% {     transform: rotate(-720deg); }
}