.card {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 100%;
    transition: 0.4s;

    &::before {
        content: '';
        position: absolute;
        width: 110%;
        height: 100%;
        top: 50%;
        left: 49%;
        transform: translate(-50%, -50%);
        background: #000000;
        border-radius: 1.5rem;
        /* 15px */
        opacity: 0;
        z-index: -1;
        transition: 0.4s;
    }

    &:hover {
        &::before {
            opacity: 0.6;
            transition: 0.3s;
            @include breakpoint(small-mobile) {
                opacity: 0;
                    }
        }

        .card-more {
            opacity: 1;
            transition: 0.3s;
            @include breakpoint(small-mobile) {
                opacity: 0;
                    }
        }
    }

    &-img {
        width: 7.1rem;
        /* 71px */
        height: 4.7rem;
        /* 47px */
        padding-right: 2rem;
        /* 20px */
        display: flex;
        align-items: center;
        @include breakpoint(small-mobile) {
            width: 8.6rem;
          }
    }

    &-content {
        &__subtitle {
            font-weight: 400;
            font-size: 1.4rem;
            /* 14px */
            line-height: 1.7rem;
            /* 17px */
            color: rgba($color: #fff, $alpha: 0.6);
            @include breakpoint(small-mobile) {
                font-size: 1.5rem;
              }
        }

        &__title {
            font-weight: 400;
            font-size: 2rem;
            /* 20px */
            line-height: 2.4rem;
            /* 24px */
            color: #fff;

            span {
                color: #696767;
                font-size: 2rem;
                /* 20px */
                line-height: 2.4rem;
                /* 24px */
            }
        }
    }

    &-more {
        margin-left: auto;
        position: relative;
        overflow: hidden;
        opacity: 0;
        &-dropdown {
            position: absolute;
            top: 0;
            right: -0.1rem;
            padding-top: 3.5rem;
            opacity: 0;
            transition: 0.3s;
            z-index: -1;
        }

        &__inner {
            padding: 0.5rem;
            /* 5px */
            background: #FFFFFF;
            box-shadow: 0rem 1.3787rem 3.3422rem rgba(0, 0, 0, 0.0503198), 0rem 0.7371rem 1.7869rem rgba(0, 0, 0, 0.0417275), 0rem 0.4132rem 1.0017rem rgba(0, 0, 0, 0.035), 0rem 0.2195rem 0.532rem rgba(0, 0, 0, 0.0282725), 0rem 0.0913rem 0.2214rem
                /* 0px 13.7866px 33.4221px 0px 7.37098px 17.869px 0px 4.13211px 10.0172px 0px 2.19453px 5.32008px 0px 0.913195px 2.21381px */
                rgba(0, 0, 0, 0.0196802);
            border-radius: 1rem;
            /* 10px */
            display: flex;
            flex-direction: column;

            a {
                font-weight: 500;
                font-size: 1.6rem;
                /* 16px */
                line-height: 1.9rem;
                /* 19px */
                padding: 0.5rem 0.9rem 0.7rem 0.9rem;
                /* 5px 9px 7px 9px */
                transition: 0.3s;
                color: #2E2E2E;

                &:hover {
                    background: #F5F5F5;
                    border-radius: 0.7rem;
                    /* 7px */
                    transition: 0.3s;
                }
            }
        }

        &--active {
            &::before {
                opacity: 0.6;
                transition: 0.3s;
            }

            overflow: visible;

            .card-more-dropdown {
                opacity: 1;
                transition: 0.3s;
                z-index: 1;
            }
        }

    }

    &--active {
        overflow: visible;
        
        &::before {
            opacity: 0.6;
            transition: 0.3s;
        }

        .card-more {
            opacity: 1;
            transition: 0.3s;
            overflow: visible;
            &-dropdown {
                opacity: 1;
            }
        }
    }
    &-item {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        height: 8.2rem;
        /* 82px */
        width: 100%;
        transition: 0.4s;
    }
    &-mask {
        width: 42rem;
        padding: 124px 30px 86px 30px;
        box-shadow: 0px 33px 80px rgba(0, 0, 0, 0.07), 0px 13.7866px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 7.37098px 17.869px rgba(0, 0, 0, 0.0417275), 0px 4.13211px 10.0172px rgba(0, 0, 0, 0.035), 0px 2.19453px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 0.913195px 2.21381px rgba(0, 0, 0, 0.0196802);
        border-radius: 15px; 
        background: linear-gradient(111.22deg, #F5F5F5 0.97%, #E2E2E2 99.66%);
        margin-bottom: 20px;
        @include breakpoint(tablet) {
            padding: 98px 30px 65px;
            }
        @include breakpoint(tablet) {
            padding: 85px 30px 53px;
            }
        @include breakpoint(mobile) {
            padding: 70px 30px 37px;
            }
        @include breakpoint(small-mobile) {
            padding: 98px 30px 65px;         
            width: 32rem;
            }
        input {
            background-color: #fff;
            position: relative;
            padding: 10px 15px;
            border-radius: 5px;
        }
    }
}