.js {
    &-select {
            &--active {
                .card-selection {
                        &__title {
                            color: rgba($color: #2E2E2E, $alpha: 0.6);
                        }
                        &__subtitle {
                            color: #2E2E2E;
                            span {
                                color: rgba($color: #2E2E2E, $alpha: 0.6);
                            }
                        }
                        &__link {
                            svg {
                                fill: #2E2E2E;
                            }
                        }
                        &__header {
                            .card-selection__item {
                                background-color: #fff;
                                box-shadow: 0px 13.7866px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 7.37098px 17.869px rgba(0, 0, 0, 0.0417275), 0px 4.13211px 10.0172px rgba(0, 0, 0, 0.035), 0px 2.19453px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 0.913195px 2.21381px rgba(0, 0, 0, 0.0196802);
                                transition: 0.5s;
                            }
                        }
                        &__body {
                            display: block;
                        }
                    }
            }
    }
    &-tabs-item {
        opacity: 0;
        position: relative;
        z-index: -2;
        display: none;
        @include breakpoint(mobile) {
            display: none;
          }
        &--active {
            opacity: 1;
            background-color: #fff;
            z-index: 2;
            display: block;
            transition: 0.7s;
        }
    }
    &-tabs-link {
        white-space: nowrap;
    }
    &-validate-error-field {
        border: none;
        border-bottom: 1px solid red !important;
    }
    &-example-basic-single {
        display: none;
    }
    &-accordion {
        &--active {
            .widget {
                &__title {
                    padding-bottom: 5px;
                    transition: 0.3s;
                        svg {
                            transform: rotate(180deg);
                        }
                }
                &__body {
                    max-height: 30rem;
                    opacity: 1;
                    overflow: visible;
                    transition-property: opacity, max-height;
                    transition-duration: 1s, 0.3s;
                }
            }
        }
    }
}