.container {
    width: 100%;
    // max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    max-width: 870px;
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @include breakpointMF(ultra-desktop) {   
        max-width: 1250px;
        }
    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }
}




.page-content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    @include breakpoint(small-mobile) {   
        display: flex;      
        flex-direction: column;
        }
    }

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 12rem 0;
    @include breakpoint(small-mobile) {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #fff;
        z-index: 3;
        padding-top: 3.3rem;
        position: relative;
        top: -80px;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            background-color:#fff;
            bottom: -80px;
            right: 0;
            height: 80px;

        }
    }
}
