.menu {
    &-hover {
        padding: 0.5rem 0.6rem;
        border-radius: 0.7rem;
        transition: 0.3s;

        @include breakpoint(mobile) {
            padding: 0;
        }

        &:hover {
            background-color: #F5F5F5;

            @include breakpoint(mobile) {
                background-color: inherit;
            }

            span {
                color: #000000;
                transition: 0.3s;

                @include breakpoint(mobile) {
                    color: rgba($color: #fff, $alpha: 0.4)
                }
            }
        }
    }

    &__inner {
        display: flex;
        padding-top: 2.8rem;
        position: absolute;
        align-items: baseline;
        z-index: 50;
        width: 100%;
        padding-left: 45rem;

        @include breakpoint(mobile) {
            right: 0rem;
            display: flex;
            padding-top: 2.3rem;
            padding-left: 0;
            position: fixed;
            z-index: 1;
        }
    }

    &__logo {
        display: none;

        @include breakpoint(mobile) {
            display: block;
            margin-right: auto;
            width: 14.6rem;
        }
    }

    &-nav {
        display: flex;
        align-items: center;
        margin-left: -0.8rem;

        @include breakpoint(mobile) {
            overflow-x: scroll;
            width: 100%;
            margin-top: 2rem;
            margin-left: 0;
            border-bottom: 0.1rem solid rgba($color: #fff, $alpha: 0.2);
            scrollbar-width: none;

            &::-webkit-scrollbar {
                -webkit-appearance: none;
                height: 0;
                width: 0;
            }
        }

        &__link {
            margin-right: 1.4rem;
            padding: 0.6rem;

            @include breakpoint(mobile) {
                white-space: pre;
                padding: 0;
                &:first-child {
                    padding-left: 20px;
                }
            }

            span {
                font-size: 1.6rem;
                line-height: 1.9rem;
                color: #C1C1C1;
                font-weight: 500;
                transition: 0.3s;

                @include breakpoint(mobile) {
                    color: rgba($color: #fff, $alpha: 0.4)
                }
            }

            &--active {
                &:hover {
                    background-color: #fff;
                    @include breakpoint(mobile) {
                        background-color: transparent;
                    }
                }

                span {
                    color: #000000;

                    &:hover {
                        background-color: #fff;
                        @include breakpoint(mobile) {
                            background-color: transparent;
                        }
                    }

                    @include breakpoint(mobile) {
                        color: rgba($color: #fff, $alpha: 1.0)
                    }
                }

            }
        }

        &__more {
            display: flex;
            transition: 0.3s;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            padding: .6rem .1rem .6rem .6rem;

            @include breakpoint(mobile) {
                pointer-events: none;
                padding: 0;
                overflow: visible;
            }

            svg {
                width: 2.4rem;
                height: 2.4rem;
            }

            &:hover {
                background: #F5F5F5;
                border-radius: 0.7rem;
                transition: 0.3s;
                overflow: initial;

                .menu {
                    &-nav {
                        &__more {
                            &-btn {
                                color: #000000;
                                transition: 0.3s;
                            }

                            &-dropdown {
                                opacity: 1;
                                transition: 0.3s, opacity 1s;
                                padding: 2rem 2rem 0 0;
                                top: 2rem;
                            }
                        }
                    }
                }

                svg {
                    transform: rotate(180deg);
                    transition: 0.3s;
                }
            }

            &-btn {
                align-items: center;
                display: flex;
                font-size: 1.6rem;
                line-height: 1.9rem;
                color: #C1C1C1;
                transition: 0.3s;
                font-weight: 500;

                @include breakpoint(mobile) {
                    display: none;
                }
            }

            &-dropdown {
                position: absolute;
                border-radius: 1rem;
                top: 2rem;
                padding-top: 0.5rem;
                opacity: 0;
                transition: 0.3s;

                @include breakpoint(mobile) {
                    position: relative;
                    top: 0;
                    opacity: 1;
                    padding: 0;
                }

                li {
                    padding-bottom: 2rem;
                }

                &-inner {
                    padding: 0.5rem;
                    background-color: #fff;
                    box-shadow: 0rem 1.3787rem 3.3422rem rgba(0, 0, 0, 0.0503198), 0rem 0.7371rem 1.7869rem rgba(0, 0, 0, 0.0417275), 0rem 0.4132rem 1.0017rem rgba(0, 0, 0, 0.035), 0rem 0.2195rem 0.532rem rgba(0, 0, 0, 0.0282725), 0rem 0.0913rem 0.2214rem rgba(0, 0, 0, 0.0196802);
                    border-radius: 1rem;
                    display: flex;
                    flex-direction: column;

                    @include breakpoint(mobile) {
                        background-color: transparent;
                        flex-direction: row;
                        color: rgba($color: #fff, $alpha: 0.4);
                        padding: 0;
                    }

                    a {
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                        padding: 0.5rem 0.9rem 0.7rem 0.9rem;
                        transition: 0.3s;

                        @include breakpoint(mobile) {
                            padding: 0;
                            margin-right: 1.4rem;
                        }

                        &:hover {
                            background: #F5F5F5;
                            border-radius: 0.7rem;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }

    &-navigation {
        display: flex;
        align-items: center;

        @include breakpoint(mobile) {
            width: 100%;
            align-items: flex-end;
            padding: 0 20px;
        }

        svg {
            width: 2.4rem;
            height: 2.4rem;
            @include breakpoint(mobile) {
                fill: #fff;
                    }
        }
    }

    &__form {
        margin-right: 1rem;
        display: flex;
        position: relative;

        @include breakpoint(mobile) {
            color: #fff;
            margin-right: 1.5rem;
            top: 0.6rem;
        }

    }

    &__call {
        margin-right: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(mobile) {
            display: none;
        }
    }

    &__notifications {
        margin-right: 2.5rem;
        position: relative;
        cursor: pointer;

        @include breakpoint(mobile) {
            display: none;
        }

        &-count {
            position: absolute;
            top: -0.1rem;
            right: -.1rem;
            background-color: #f1611f;
            border-radius: 20rem;
            color: #fff!important;
            font-size: 1rem;
            padding: .2rem .4rem .2rem .3rem;
        }
    }

    &__authorized-user {
        position: relative;
        display: flex;
        cursor: pointer;
        align-items: center;
        padding-left: .7rem;
        padding-right: 0.1rem;
        transition: 0.4s;

        @include breakpoint(mobile) {
            color: #fff;
            padding-left: 0;
            margin-bottom: 0;

            svg {
                width: 2rem;
                height: 2rem;
            }
        }

        &-link {
            display: flex;
            align-items: center;
        }

        &-name {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.9rem;
        }

        &-more {
            svg {
                position: relative;
                z-index: -2;
                transition: 0.3s;
            }

            &-dropdown {
                position: absolute;
                left: -6rem;
                top: 20px;
                padding-top: 4rem;
                opacity: 0;
                transition: 0.3s;
                z-index: -1;
                height: 0;
                overflow: hidden;

                @include breakpoint(mobile) {
                    color: #000;
                }

                &-inner {
                    display: flex;
                    flex-direction: column;
                    height: 0;
                    padding: 0.5rem;
                    background: #FFFFFF;
                    box-shadow: 0rem 1.3787rem 3.3422rem rgba(0, 0, 0, 0.0503198), 0rem 0.7371rem 1.7869rem rgba(0, 0, 0, 0.0417275), 0rem 0.4132rem 1.0017rem rgba(0, 0, 0, 0.035), 0rem 0.2195rem 0.532rem rgba(0, 0, 0, 0.0282725), 0rem 0.0913rem 0.2214rem rgba(0, 0, 0, 0.0196802);
                    border-radius: 1rem;

                    a {
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                        padding: 0.5rem 0.9rem 0.7rem 0.9rem;
                        transition: 0.3s;
                        margin-bottom: 0.5rem;

                        &:hover {
                            background-color: #F5F5F5;
                            border-radius: 0.7rem;
                            transition: 0.3s;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @include breakpoint(mobile) {
            flex-direction: column-reverse;
            padding: 0;
        }
    }

    &-entrance {

        display: flex;
        justify-content: space-between;
        padding-bottom: 12.8rem;

        &__item {
            a {
                span {
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 2rem;
                    color: #2E2E2E;
                    &:hover {
                        transition: 0.3s;
                        color: #F1611F;
                    }
                }
            }

            span {
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.2rem;
                color: #C1C1C1;
            }
            a {
                margin-right: 2.6rem;

                svg {
                    width: 2.4rem;
                    height: 2.4rem;
                    cursor: pointer;
    
                    &:last-child {
                        margin-right: 0;
                    }
    
                    &:hover {
                        transition: 0.3s;
                        fill: #F1611F;
                    }
                }
            }

            &:nth-child(2) {
                display: flex;
                flex-direction: column;
            }

            &:last-child {
                margin-right: 11rem;
            }
        }
    }
}