$svg-sitebar: #fff;

.menu {
    &__inner {
        display: flex;
        /* 450px */
        padding-top: 2.8rem;
        /* 28px */
        position: absolute;
        align-items: baseline;
        z-index: 100;
        width: 100%;
        padding-left: 45rem;
        @include breakpoint(small-mobile) {
            right: 0rem;
            display: flex;
            padding-top: 2.3rem;
            padding-left: 0;
            position: fixed;
            z-index: 1;
            }
    }

    &-logo {
        width: 45rem;
        opacity: 0;
                @include breakpoint(small-mobile) {
            display: none;
        }
    }

    &-nav {
        display: flex;
        align-items: center;
        margin-left: -0.8rem;
        @include breakpoint(small-mobile) {
            overflow-x: scroll;
            width: 100%;
            padding-left: 2rem;
            margin-top: 2.4rem;
            margin-left: 0;
            border-bottom: 0.1rem solid rgba($color: #fff, $alpha: 0.2);
            scrollbar-width: none;
            &::-webkit-scrollbar {
                width: 0;
              }
        }
        /* -8px */
        &__link {
            margin-right: 1.4rem;          
            /* 14px */
            padding: 0.6rem;
            @include breakpoint(small-mobile) {
                white-space: pre;
            }
            /* 6px */
            span {
                font-size: 1.6rem;
                /* 16px */
                line-height: 1.9rem;
                /* 19px */
                color: #C1C1C1;
                font-weight: 500;
                transition: 0.3s;
                @include breakpoint(small-mobile) {
                    color: rgba($color: #fff, $alpha: 0.4)
                }
            }

            &--active {
                span {
                    color: #000000;
                    @include breakpoint(small-mobile) {
                        color: rgba($color: #fff, $alpha: 1.0)
                    }
                }
                
            }
        }

        &__more {
            display: flex;
            transition: 0.3s;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            padding: 0.6rem;
            @include breakpoint(small-mobile) {
                pointer-events:none;
                padding: 0;
                overflow: visible;
            }
            /* 6px */
            svg {
                width: 2.4rem;
                /* 24px */
                height: 2.4rem;
                /* 24px */
            }

            &:hover {
                background: #F5F5F5;
                border-radius: 0.7rem;
                /* 7px */
                transition: 0.3s;
                overflow: initial;

                .menu {
                    &-nav {
                        &__more {
                            &-btn {
                                color: #000000;
                                transition: 0.3s;
                            }

                            &-dropdown {
                                opacity: 1;
                                transition: 0.3s, opacity 1s;
                                padding: 2rem 2rem 0 0;
                                /* 20px 20px */
                                top: 2rem;
                                /* 20px */
                            }
                        }
                    }
                }

                svg {
                    transform: rotate(180deg);
                    transition: 0.3s;
                }
            }

            &-btn {
                align-items: center;
                display: flex;
                font-size: 1.6rem;
                /* 16px */
                line-height: 1.9rem;
                /* 19px */
                color: #C1C1C1;
                transition: 0.3s;
                @include breakpoint(small-mobile) {
                    display: none;
                }
            }

            &-dropdown {
                position: absolute;
                border-radius: 1rem;
                /* 10px */
                top: 2rem;
                /* 20px */
                padding-top: 0.5rem;
                /* 5px */
                opacity: 0;
                transition: 0.3s;
                @include breakpoint(small-mobile) {
                    position: relative;
                    top: 0;
                    opacity: 1;
                    padding: 0;
                }
                li {
                    padding-bottom: 2rem;
                    /* 20px */
                }

                &-inner {
                    padding: 0.5rem;
                    /* 5px */
                    background-color: #fff;
                    box-shadow: 0rem 1.3787rem 3.3422rem rgba(0, 0, 0, 0.0503198), 0rem 0.7371rem 1.7869rem rgba(0, 0, 0, 0.0417275), 0rem 0.4132rem 1.0017rem rgba(0, 0, 0, 0.035), 0rem 0.2195rem 0.532rem rgba(0, 0, 0, 0.0282725), 0rem 0.0913rem 0.2214rem
                        /* 0px 13.7866px 33.4221px 0px 7.37098px 17.869px 0px 4.13211px 10.0172px 0px 2.19453px 5.32008px 0px 0.913195px 2.21381px */
                        rgba(0, 0, 0, 0.0196802);
                    border-radius: 1rem;
                    /* 10px */
                    display: flex;
                    flex-direction: column;
                    @include breakpoint(small-mobile) {
                        background-color: transparent;
                        flex-direction: row;
                        color: rgba($color: #fff, $alpha: 0.4);
                        padding: 0;
                    }
                    a {
                        font-weight: 500;
                        font-size: 1.6rem;
                        /* 16px */
                        line-height: 1.9rem;
                        /* 19px */
                        padding: 0.5rem 0.9rem 0.7rem 0.9rem;
                        /* 5px 9px 7px 9px */
                        transition: 0.3s;
                        @include breakpoint(small-mobile) {
                            padding: 0;
                            margin-right: 1.4rem;
                        }
                        &:hover {
                            background: #F5F5F5;
                            border-radius: 0.7rem;
                            /* 7px */
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }

    &-navigation {
        display: flex;
        align-items: center;
        @include breakpoint(small-mobile) {
            margin-left: auto;
            padding-right: 20px;
        }
        svg {
            width: 2.4rem;
            /* 24px */
            height: 2.4rem;
            /* 24px */
        }
    }

    &__form {
        margin-right: 1rem;
        /* 10px */
        display: flex;
        position: relative;
        @include breakpoint(small-mobile) {
            color: #fff;
        }
        input {
            position: absolute;
            opacity: 0;
            border-bottom: 0.1rem
                /* 1px */
                solid #a2a2a2;
            padding: 0.5rem 2.5rem 0.5rem 1rem;
            /* 5px 25px 5px 10px */
            font-size: 1.6rem;
            /* 16px */
            right: 0;
            width: 0;
            top: 50%;
            transform: translateY(-50%);

            &:hover {
                width: 13rem;
                /* 130px */
                right: -0.3rem;
                /* -3px */
                transition: 0.3s;
                opacity: 1;
            }
        }
    }

    &__call {
        margin-right: 0.4rem;
        /* 4px */
        @include breakpoint(small-mobile) {
            display: none;
        }
    }

    &__notifications {
        margin-right: 2.5rem;
        /* 25px */
        position: relative;
        cursor: pointer;
        @include breakpoint(small-mobile) {
            display: none;
        }
        &:hover {
            .menu__notifications {
                &-dropdown {
                    opacity: 1;
                    overflow: inherit;
                    transition: 0.3s;
                    right: -1rem;
                    /* -10px */
                    font-size: 1.6rem;
                    /* 16px */
                    z-index: 3;

                    &-inner {
                        padding: 0.5rem;
                        /* 5px */
                        transition: 0.3s;
                        opacity: 1;
                        a {
                            display: block;
                        }
                    }
                }
            }
        }

        &-count {
            position: absolute;
            top: 0.2rem;
            /* 2px */
            right: -0.1rem;
            /* -1px */
            background-color: #F1611F;
            border-radius: 20rem;
            /* 200px */
            color: #fff !important;
            font-size: 1rem;
            /* 10px */
            padding: 0.1rem 0.3rem;
            /* 1px 3px */
        }

        &-dropdown {
            position: absolute;
            left: -5rem;
            /* -50px */
            top: 3rem;
            /* 30px */
            padding-top: 1.5rem;
            /* 15px */
            opacity: 0;
            transition: 0.3s;
            z-index: -1;

            &-inner {
                display: flex;
                flex-direction: column;
                opacity: 0;
                padding: 0.5rem;
                /* 5px */
                background: #FFFFFF;
                box-shadow: 0rem 1.3787rem 3.3422rem rgba(0, 0, 0, 0.0503198), 0rem 0.7371rem 1.7869rem rgba(0, 0, 0, 0.0417275), 0rem 0.4132rem 1.0017rem rgba(0, 0, 0, 0.035), 0rem 0.2195rem 0.532rem rgba(0, 0, 0, 0.0282725), 0rem 0.0913rem 0.2214rem
                    /* 0px 13.7866px 33.4221px 0px 7.37098px 17.869px 0px 4.13211px 10.0172px 0px 2.19453px 5.32008px 0px 0.913195px 2.21381px */
                    rgba(0, 0, 0, 0.0196802);
                border-radius: 1rem;
                /* 10px */
                transition: 0.3s;

                a {
                    font-weight: 500;
                    font-size: 1.6rem;
                    /* 16px */
                    line-height: 1.9rem;
                    /* 19px */
                    padding: 0.5rem 0.9rem 0.7rem 0.9rem;
                    /* 5px 9px 7px 9px */
                    transition: 0.3s;
                    margin-bottom: 0.5rem;
                    display: none;
                    /* 5px */
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__authorized-user {
        position: relative;
        display: flex;
        cursor: pointer;
        align-items: center;
        padding-left: 0.6rem;
        /* 6px */
        overflow: hidden;
        transition: 0.4s;
        @include breakpoint(small-mobile) {               
            color: #fff;
            }
        
        &-name {
            font-weight: 500;
            font-size: 1.6rem;
            /* 16px */
            line-height: 1.9rem;
            /* 19px */
        }

        &-more {
            &-dropdown {
                position: absolute;
                left: -5rem;
                /* -50px */
                top: 0;
                padding-top: 4rem;
                /* 40px */
                opacity: 0;
                transition: 0.3s;
                z-index: -1;
                height: 0;

                &-inner {
                    display: flex;
                    flex-direction: column;
                    height: 0;
                    padding: 0.5rem;
                    /* 5px */
                    background: #FFFFFF;
                    box-shadow: 0rem 1.3787rem 3.3422rem rgba(0, 0, 0, 0.0503198), 0rem 0.7371rem 1.7869rem rgba(0, 0, 0, 0.0417275), 0rem 0.4132rem 1.0017rem rgba(0, 0, 0, 0.035), 0rem 0.2195rem 0.532rem rgba(0, 0, 0, 0.0282725), 0rem 0.0913rem 0.2214rem
                        /* 0px 13.7866px 33.4221px 0px 7.37098px 17.869px 0px 4.13211px 10.0172px 0px 2.19453px 5.32008px 0px 0.913195px 2.21381px */
                        rgba(0, 0, 0, 0.0196802);
                    border-radius: 1rem;
                    /* 10px */
                    a {
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 1.9rem;
                        padding: 0.5rem 0.9rem 0.7rem 0.9rem;
                        transition: 0.3s;
                        margin-bottom: 0.5rem;
                        &:hover {
                            background-color: #F5F5F5;
                            border-radius: 0.7rem;
                            transition: 0.3s;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        &--active {
            transition: 0.4s;
            overflow: visible;
            svg {
                transform: rotate(-180deg);
                transition: 0.4s;
            }
            .menu__authorized-user {
                &-more {
                    &-dropdown {
                        opacity: 1;
                        transition: 0.4s;
                        z-index: 3;
                        height: auto;
                        &-inner {
                            height: auto;
                            transition: 0.4s;
                        }
                    }
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
        max-width: 870px;
        margin: 0 auto;
        padding: 0 var(--content-padding);
        @supports (width: max(20vw, 100px)) {
            padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
            padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
        }
        @include breakpoint(small-mobile) {
            padding: 0;
            display: flex;
            flex-direction: column-reverse;
        }
    }

    &-hover {
        padding: 0.5rem 0.6rem;
        /* 5px 6px */
        border-radius: 0.7rem;
        /* 7px */
        transition: 0.3s;
        @include breakpoint(small-mobile) {
            // pointer-events:none;
            padding: 0;
        }
        
        &:hover {
            background-color: #F5F5F5;
            @include breakpoint(small-mobile) {
                background-color: inherit;
            }
            span {
                color: #000000;
                transition: 0.3s;
                @include breakpoint(small-mobile) {
                    color: inherit;
                }
            }

        }
    }
}