.operations {
    padding-top: 12rem;
    /* 120px */
    display: flex;
    @include breakpoint(laptop) {         
        flex-direction: column;
        }
    @include breakpoint(small-mobile) {
        display: flex;
        flex-direction: column;
        }
}

.plus {
    border-radius: 15rem;
    /* 150px */
    background-color: #F5F5F5;
    padding: 1.5rem;
    /* 15px */
}

.payments {
    &__wrapper {
        flex-grow: 1;
        max-width: 561px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
        justify-content: space-between;
        /* 30px */
    }

    &__card {
        flex-basis: 46.2%;
        display: flex;
        align-items: center;
        padding-top: 2.1rem;
        position: relative;
        /* 21px */
        padding-bottom: 3.3rem;
        /* 33px */
        // border-top: 0.1rem solid #C1C1C1;
            /* 1px */
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            // border-top: 0.3rem solid #2E2E2E;
            transition: 0.3s;
            transform: translateY(-3px);
            &::before {
                height: 3px;
                transition: 0.3s;
                background-color: #2E2E2E;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #C1C1C1;
            transition: 0.3s;
        }
    }

    &-img {
        margin-right: 1.4rem;

        /* 14px */
        svg {
            width: 2.4rem;
            /* 24px */
            height: 2.4rem;
            /* 24px */
        }
    }

    &__inner {
        color: #2E2E2E;
        margin-right: 6%;
    }

    &__title {
        display: flex;
        align-items: center;
        transition: 0.2s;

        h2 {
            font-weight: 600;
            font-size: 2.4rem;
            /* 24px */
            line-height: 2.9rem;
            /* 29px */
            margin-right: 2rem;
            /* 20px */
        }

        &-svg {
            width: 2.4rem;
            /* 24px */
            height: 2.4rem;
            /* 24px */
            transform: rotate(-90deg);
        }
    }

    &-content {
        &__title {
            font-weight: 500;
            font-size: 1.6rem;
            /* 16px */
            line-height: 1.9rem;
            /* 19px */
        }

        &__subtitle {
            font-weight: 500;
            font-size: 1.2rem;
            /* 12px */
            line-height: 1.4rem;
            /* 14px */
            color: #C1C1C1;
            display: flex;
            margin-top: 3px;
            img {
                margin-left: 4px;
            }
        }
    }
}

