.operations {
    padding-top: 12rem;
    /* 120px */
    display: flex;
    @include breakpoint(small-mobile) {
        display: flex;
        flex-direction: column;
        padding-top: 2.8rem;
        }
}


.payments {
    &__wrapper {
        flex-grow: 1;
        max-width: 56.1rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
        justify-content: space-between;
        /* 30px */
        @include breakpoint(small-mobile) {
            flex-wrap: nowrap;
            flex-direction: column;
            }
    }

    &__card {
        flex-basis: 46.2%;
        display: flex;
        align-items: center;
        padding-top: 2.1rem;
        position: relative;
        padding-bottom: 3.3rem;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            transition: 0.3s;
            @include breakpoint(small-mobile) {
                transform: translateY(0);
                }
            &::before {
                height: 0.3rem;
                transition: 0.3s;
                background-color: #2E2E2E;
                @include breakpoint(small-mobile) {
                    height: 0.1rem;
                    background-color: #C1C1C1;
                    }
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0.1rem;
            background-color: #C1C1C1;
            transition: 0.3s;
            @include breakpoint(small-mobile) {
                content: none;
                }
        }
        @include breakpoint(desktop) {
            padding-bottom: 3.1rem;
        }
        @include breakpoint(small-mobile) {
            padding-bottom: 1.9rem;
            }
    }

    &-img {
        margin-right: 1.4rem;
        svg {
            width: 2.4rem;
            height: 2.4rem;
        }
    }

    &__inner {
        color: #2E2E2E;
        margin-right: 6%;
        @include breakpoint(small-mobile) {
            margin-right: 0;
            }
    }

    &__title {
        display: flex;
        align-items: center;
        transition: 0.2s;

        h2 {
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 2.9rem;
            margin-right: 2rem;
            @include breakpoint(small-mobile) {
                font-weight: 500;
                margin-right: auto;
                }
        }

        &-svg {
            width: 2.4rem;
            /* 24px */
            height: 2.4rem;
            /* 24px */
            transform: rotate(-90deg);
        }
    }

    &-content {
        @include breakpoint(small-mobile) {
            width: 100%;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: -21px;
                width: 100%;
                height: 0.1rem;
                background-color: #C1C1C1;
                transition: 0.3s;
                }
            }
        &__title {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.9rem;
        }

        &__subtitle {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.4rem;
            color: #C1C1C1;
            display: flex;
            margin-top: 0.3rem;
            img {
                margin-left: 0.4rem;
                width: 1.5rem;
            }
        }
    }
}

