.Payments-and-transfers {
    &__inner {
        max-width: 56.1rem;
    }
    &__title {
        padding-top: 12rem;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        color: #2E2E2E;
    }

}




