.mobile-connection {
    color: #2E2E2E;
    &__title {
        display: flex;
        font-weight: 500;
        font-size: 2.4rem; /* 24px */
        line-height: 2.4rem; /* 24px */
        svg {
            width: 2.4rem; /* 24px */
            height: 2.4rem; /* 24px */
            transform: rotate(90deg);
            margin-right: 0.3rem; /* 3px */
        }
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        padding-top: 3rem; /* 30px */
    }
    &__card { 
        width: 26.4rem;
        display: flex;
        align-items: center;
        margin-bottom: 1.4rem; /* 14px */
        cursor: pointer;
        transition: 0.3s;
        padding: 0.4rem 0 0.4rem 0.4rem; /* 4px 4px 4px */
        &:nth-child(odd) {
            margin-right: 5.8%;
        } 
        &:hover {
            background: #F5F5F5;
            border-radius: 1.7rem; /* 17px */
            transition: 0.3s;
        }
        @include breakpoint(desktop) {               
            
            }
    }
    &__img {
        width: 4rem; /* 40px */
        margin-right: 2rem; /* 20px */
    }
    &__descr {
        font-weight: 500;
        font-size: 1.6rem; /* 16px */
        line-height: 1.9rem; /* 19px */
    }
}