.payment-made {
    &-props {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        flex-direction: column;
        max-height: 400px;
        &__item {
            flex-basis: 50%;
        }
        &__title {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #C1C1C1;
            margin-top: 3rem;
        }
        &__subtitle {
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            color: #2E2E2E;
            margin-top: 1rem;
        }
    }
    &__link {
        display: inline-block;
        color: #fff;
    }
}