.phone-translation {
    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        color: #2E2E2E;
    }
    &-form {
        &__box {
            position: relative;
            display: flex;
            svg {
                position: absolute;
                right: 0;
                top: 50%;
                width: 2.4rem;
                height: 2.4rem;
                transform: translate(0, -50%);
            }
        } 
    }
}