$widgetTitle: #fff;

.sidebar {
    height: 100vh;
    z-index: 99;
    display: flex;
    width: 45rem;
    flex-shrink: 0;
    will-change: min-height;

    @include breakpoint(mobile) {
        position: relative;
    }
    @include breakpoint(small-mobile) {
        padding: 0;
        position: fixed;
        width: 100%;
        z-index: 0;
            }
    &__inner {
        position: relative;
        z-index: 1;
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
        width: 100%;
        @include breakpoint(mobile) {
            margin-left: unset;
            width: 100%;
            position: fixed;
        }
    }
    &__wrapper {
        height: 55vh;
        padding-right: 1.3rem; 
        overflow-x: hidden;
        padding-left: 2.2rem; 
        margin-left: -1.7rem; 
        scrollbar-color: rgba($color: #FFF, $alpha: 0.8) rgba($color: #FFF, $alpha: 0.1);
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 0.3rem;
            height: 25rem;
            background-color: rgba($color: #FFF, $alpha: 0.1);
            border-radius: 1rem;
            }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($color: #FFF, $alpha: 0.8);
            border-radius: 1rem; /* 10px */
            height: 7.5rem; /* 75px */
            box-shadow: inset 0.1rem 0.1rem 1rem /* 1px 1px 10px */ #f3faf7;
        }
        @include breakpoint(small-mobile) {
            height: auto;
            overflow-x: visible;
            }
        }
    &__link {
        background: #F1611F;
        border-radius: 2rem;
        padding: 2.1rem;
        display: block;
        text-align: center;
        margin-top: auto;
        transition: 0.3s;
        span {
            font-weight: 500;
            font-size: 1.6rem; /* 16px */
            line-height: 1.9rem; /* 19px */
            color: #FFFFFF;
        }
        &:hover {
            background-color: #DD4F0E;
            transition: 0.3s;
        }
        @include breakpoint(small-mobile) {
            margin-top: auto;
            margin-right: 20px; 
            margin-bottom: 250px;
        }
    }
    &-logo {
        width: 15.8rem;
        @include breakpoint(small-mobile) {
           display: none;
        }
    }
    &-img {
            position: absolute;
            top: 0rem;
            left: 0rem; /* 0px */
            width: 100%;
            height: 100vh;
            z-index: -1;
            
            img {
                width: 100%;
                height: 100vh;
                object-fit: cover;
                object-position: -104px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: rgba($color: #252525, $alpha: 0.8);
            }
    }
    &__content {
        padding: 2.8rem 5rem 5.7rem 5rem;
        height: 100vh;
        display: flex;
        flex-direction: column;
        @include breakpoint(small-mobile) {
            margin-left: 20px;
            padding: 0;
            width: auto;
        }
    }
}
