.slider {
    min-width: 0;
    padding-bottom: 6.3rem;
    @include breakpoint(small-mobile) {
        margin-top: 0.9rem;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.2rem;
        color: #2E2E2E;
    }

    &__header {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.4rem;
        @include breakpoint(small-mobile) {
            width: 100%;
           }
        svg {
            width: 2.4rem;
            height: 2.4rem;
            margin-left: 0.8rem;
            @include breakpoint(small-mobile) {
             margin-left: auto;
            }
        }
    }

    &__nav {
        display: flex;
        align-self: center;

        svg {
            width: 3.2rem;
            height: 3.2rem;
            cursor: pointer;
        }
    }

    &__prev {
        border-radius: 1rem;
        /* 10px */
        padding: 0.9rem 0.7rem 0.9rem 0.9rem;
        /* 9px 7px 9px 9px */
        transition: 0.3s;
        outline: none;
        @include breakpoint(small-mobile) {
            display: none;
        }
        &:hover {
            background-color: #F5F5F5;

        }
    }

    &__next {
        margin-left: 0.8rem;
        border-radius: 1rem;
        padding: 0.9rem 0.9rem 0.9rem 0.7rem;
        transition: 0.3s;
        outline: none;
        @include breakpoint(small-mobile) {
            display: none;
        }
        &:hover {
            background-color: #F5F5F5;
        }

        svg {
            transform: rotate(-180deg);
        }
    }

    &__inner {
        border-radius: 1.7rem;
        height: 17rem;
        position: relative;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    }

    &__tag {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 1.2rem;
        margin-left: 1.2rem;
        background-color: #F1611F;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 1.1rem;
        border-top-left-radius: 1.1rem;
        border-bottom-left-radius: 0.3rem;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.4rem;
        color: #ffffff;
        padding: 0.4rem 1rem;
    }

    &__title {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 1.8rem;
        margin-left: 2.1rem;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #ffffff;
    }
    .swiper-slide {
        width: 30rem;
        height: 17rem;
    }
    .slider__inner {
        img {
            height: 100%;
            width: 100%;
            border-radius: 17px;
        }
    }
    .swiper-wrapper {
        @include breakpoint(desktop) {   
            width: 60rem;
          }
    }
}

.swiper-container {
    overflow: visible;
    position: relative;
    z-index: 0;
    @include breakpoint(small-mobile) {
        z-index: 99;
                }
}
