.templates {
    &__inner {
        position: relative;
        right: -1rem;
        @include breakpoint(small-mobile) {
            margin-top: 3.7rem;
            right: 0;
            }
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 25rem;
        margin-top: 3rem;
        @include breakpoint(small-mobile) {
            max-width: none;
            align-items: baseline;
            }
    }

    &__title {
        display: flex;
        align-items: center;
        padding-left: 0.4rem;
        @include breakpoint(small-mobile) {
            padding-left: 0;
            }
        h2 {
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 2.9rem;
            margin-right: 2rem;
            @include breakpoint(small-mobile) {
                font-weight: 500;
                margin-right: auto;
                }
        }

        &-svg {
            width: 2.4rem;
            /* 24px */
            height: 2.4rem;
            /* 24px */
            transform: rotate(-90deg);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29%;
        margin-bottom: 2.8rem;
        margin-right: 6%;
        transition: 0.3s;
        cursor: pointer;
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:hover {
            opacity: 0.8;
            transition: 0.3s;
        }
        @include breakpoint(small-mobile) {
            margin-bottom: 0;
            margin-right: 20px;
            width: 20%;
            align-items: center;
            height: 97px;
            justify-content: end;
            &:nth-child(3n) {
                margin-right: 20px;
            }
            &:nth-child(4) {
                margin-right: 0;
            }
        }
        @include breakpoint(supersmall-mobile) {
            margin-right: 18px;
             }
    }

    &-content {
        margin-top: 0.8rem;

        /* 8px */
        &__title {
            font-weight: 500;
            font-size: 1.2rem;
            /* 12px */
            line-height: 1.4rem;
            /* 14px */
            text-align: center;
        }
    }

    &-img {
        img {
            width: 4.8rem;
            height: 4.8rem;
        }
        @include breakpoint(desktop) {
            width: 4rem;
        }
        @include breakpoint(tablet) {
            width: 3.5rem;
        }
        @include breakpoint(mobile) {
            width: 2rem;
        }
        @include breakpoint(small-mobile) {
            width: 5.8rem;
            display: flex;
            justify-content: center;
        }
    }
}