.title {
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.8rem;
    color: #2E2E2E;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 3rem;
        word-spacing: normal;
    }
    svg {
        width: 2.4rem;
        height: 2.4rem;
        transform: rotate(-90deg);
    }
    &-main {
        font-weight: 500;
        font-size: 4rem;
        line-height: 4.8rem;
        color: #2E2E2E;
        margin-bottom: 5rem;
        display: flex;
        align-items: flex-end;
        @include breakpoint(mobile) {
            margin-bottom: 1rem;
            font-size: 3rem;
        }
        h2 {
            font-weight: 500;
            font-size: 4rem;
            line-height: 4.8rem;
            color: #2E2E2E;
        }
    }
    &-heading {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.4rem;
        color: #2E2E2E;
        margin-right: 1rem;
        &:hover {
            opacity: 0.6;
            transition: 0.2s;
        }
        &__inner {
            position: relative;
            svg {
                width: 2.4rem;
                height: 2.4rem;
                position: absolute;
                left: -3rem;
                top: 56%;
                transform: rotate(90deg) translate(-50%, 0);
            }
        }
    }  
    &__entrance {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 2.9rem;
        color: #FFFFFF;
    }

}
