.total {
    display: flex;
    align-items: center;
    padding-bottom: 3.5rem;
    border-bottom: 1px solid #C1C1C1;
    &__title {
        font-weight: 200;
        font-size: 48px;
        line-height: 57px;
        color: #2E2E2E;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #C1C1C1;
        margin-top: 0.1rem;
    }
    &__img {
        margin-left: auto;
        width: 6.4rem;
        height: 6.4rem;
        img {
            width: 100%;
        }
    }
}