.visit-history {
    &__item {
        margin-bottom: 2rem;
        position: relative;
        span {
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: #2E2E2E;
            margin-right: 10rem;
            font-weight: 500;
            &:last-child {
                margin-right: 0;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 44%;
            transform: translate(-50%, -50%);
            width: 92%;
            height: 220%;
            background-color:#F5F5F5;
            border-radius: 3.1rem;
            opacity: 0;
            transition: 0.3s;
            z-index: -1;
        }
        &:hover {
            &::before {
                opacity: 1;
                transition: 0.3s
            }
        }
    }
    .successfully {
        color: #05B135;
    }
    .error {
        color: #F1611F;
    }
}