.widget {
    margin-bottom: 2.2rem;
    @include breakpoint(small-mobile) {
        margin-bottom: 2.1rem;
      }
    &__title {
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $widgetTitle;
        position: relative;
        padding-right: 2.4rem;
        display: flex;
        cursor: pointer;

        &--active {
            padding-bottom: 5px;
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__body {
        font-weight: 200;
        font-size: 6.4rem;
        line-height: 6.4rem;
        color: #fff;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition-property: opacity, max-width;
        transition-duration: 0.5s, 0.3s;
        
        p {
            transition: 0.3s;
        }

        span {
            font-size: 2.8rem;
            transition: 0.3s;
            color: #696767;
            font-weight: 300;
        }

        &--active {
            max-height: 20rem;
            opacity: 1;
            overflow: visible;
            transition-property: opacity, max-height;
            transition-duration: 1s, 0.3s;
        }
    }

    &-SVG {
        width: 2rem;
        height: 2rem;
        fill: #fff;
        opacity: 0.5;
        transition: 0.3s;
        vertical-align: super;
        position: relative;
        z-index: -1;
        margin-left: 4px;
    }

    &-card {
        padding-bottom: 2.5rem;
    }

    .currency {
        &__inner {
            border-radius: 1.5rem;
            padding: 2rem 1.8rem 2rem 2.3rem;
            position: relative;
            margin-top: 2.7rem;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                transform: translate(-50%, -50%);
                border-radius: 1.5rem;
                background-color: rgba($color: #000000, $alpha: 0.37);
                z-index: -1;
            }
        }
        &__title {
            color: rgba($color: #fff, $alpha: 0.5);
            display: flex;
            margin-bottom: 0.9rem;
            span {
                font-size: 1.2rem;
                line-height: 1.4rem;
                margin-right: 4.9rem;
                &:first-child {
                    flex-grow: 1;
                    margin-right: 0;
                }
                &:last-child {
                    margin-right: 2.7rem;
                }
            }
        }
        &__item {
            display: flex;
            margin-bottom: 0.9rem;
            &:last-child {
                margin-bottom: 0;
            }
            span {
                &:first-child {
                    flex-grow: 1;
                    font-weight: 500;
                    margin-right: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                font-weight: 400;
                font-size: 2rem;
                display: flex;
                align-items: center;
                margin-right: 1.9rem;
                line-height: 2.4rem;
            }
        }
        &--decline {
            width: 2.4rem;
            height: 2.4rem;
            fill: #E26B2F;
            transform: rotate(-180deg);
        }
        &--raising {
            width: 2.4rem;
            height: 2.4rem;
            fill: #05B135;
        }
    }

    &__curs {
        margin-top: 2rem;
        @include breakpoint(small-mobile) {
            display: none;
          }
    }
    &-main {
        margin-top: 8rem;
        @include breakpoint(small-mobile) {
            margin-top: 14rem;
          }
    }
}