.history {
    padding-bottom: 1rem;

    /* 10px */
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &-header {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 2.4rem;
        /* 24px */
        line-height: 2.4rem;
        /* 24px */
        margin-bottom: 3.2rem;

        /* 32px */
        svg {
            width: 2.4rem;
            /* 24px */
            height: 2.4rem;
            /* 24px */
            transform: rotate(-90deg);
            margin-left: 0.8rem;
            /* 8px */
        }
    }

    &-card {
        padding-bottom: 5rem;

        /* 50px */
        &__header {
            display: flex;
            width: 100%;
            padding-bottom: 1.7rem;
            /* 17px */
            border-bottom: 0.1rem
                /* 1px */
                solid rgba($color: #C1C1C1, $alpha: 0.3);
        }

        &__title {
            flex-grow: 1;
            font-weight: 500;
            font-size: 1.2rem;
            /* 12px */
            line-height: 1.4rem;
            /* 14px */
            color: #C1C1C1;
        }

        &__sum {
            font-size: 1.2rem;
            /* 12px */
            line-height: 1.4rem;
            /* 14px */
            color: #C1C1C1;
        }

        &-item {
            display: flex;
            width: 100%;
            margin-top: 2.3rem;

            /* 23px */
            &__img {
                margin-right: 1.7rem;
                /* 17px */
                width: 4rem;
                /* 40px */
                height: 4.1rem;
                /* 41px */
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 2.2rem;
                    /* 22px */
                    height: 2.2rem;
                    /* 22px */
                }
            }

            &__header {
                margin-right: auto;
            }

            &__title {
                font-weight: 500;
                font-size: 1.6rem;
                /* 16px */
                line-height: 1.9rem;
                /* 19px */
                margin-bottom: 0.4rem;
                /* 4px */
            }

            &__subtitle {
                font-size: 1.2rem;
                /* 12px */
                line-height: 1.4rem;
                /* 14px */
                color: #C1C1C1;
            }

            &__sum {
                position: relative;

                &--title {
                    font-weight: 500;
                    font-size: 1.6rem;
                    /* 16px */
                    line-height: 1.9rem;
                    /* 19px */
                    color: #2E2E2E;
                }

                &--subtitle {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-color: #F5F5F5;
                    border-radius: 1rem;
                    /* 10px */
                    padding: 0.1rem 0.4rem 0.1rem 0.3rem;
                    /* 1px 4px 1px 3px */
                    font-weight: 500;
                    font-size: 1rem;
                    /* 10px */
                    line-height: 1.2rem;
                    /* 12px */
                    color: #C1C1C1;
                }
            }
        }
    }

    &-form {
        display: flex;
        align-items: center;
        margin-bottom: 4.4rem;

        /* 44px */
        &__btn {
            background-color: #F5F5F5;
            border-radius: 1rem;
            /* 10px */
            padding: 0.7rem 1rem;
            /* 7px 10px */
            font-weight: 500;
            font-size: 1.2rem;
            /* 12px */
            line-height: 1.4rem;
            /* 14px */
            color: #2E2E2E;
            margin-right: 1.5rem;
            /* 15px */
            transition: 0.3s;
            max-width: 14rem;

            /* 140px */
            &--active {
                background-color: #2E2E2E;
                color: #F5F5F5;
                transition: 0.3s;
            }
        }

        &__setting {
            padding: 0.5rem 1rem;
            /* 5px 10px */
            position: relative;
            background-color: #F5F5F5;
            border-radius: 1rem;
            /* 10px */
            margin-right: 3rem;

            /* 30px */
            &::before {
                content: '';
                position: absolute;
                top: -0.1rem;
                /* -1px */
                right: -0.2rem;
                /* -2px */
                width: 0.7rem;
                /* 7px */
                height: 0.7rem;
                /* 7px */
                background-color: #F1611F;
                border-radius: 100%;
            }

            svg {
                width: 2rem;
                /* 20px */
                height: 2rem;
                /* 20px */
            }
        }

        &__group {
            position: relative;

            &-cross {
                font-weight: 500;
                font-size: 1.2rem;
                /* 12px */
                line-height: 1.4rem;
                /* 14px */
            }

            &-btn {
                svg {
                    width: 1.6rem;
                    /* 16px */
                    height: 1.6rem;
                    /* 16px */
                    fill: #fff;
                }
            }

            &-dropdown {
                position: absolute;
                top: 2rem;
                /* 20px */
                left: 0;
                border-radius: 1rem;
                /* 10px */
                padding-top: 0.5rem;
                /* 5px */
                opacity: 0;
                transition: 0.3s;

                &-inner {
                    padding: 0.5rem;
                    /* 5px */
                    background: #FFFFFF;
                    box-shadow: 0rem 1.3787rem 3.3422rem rgba(0, 0, 0, 0.0503198), 0rem 0.7371rem 1.7869rem rgba(0, 0, 0, 0.0417275), 0rem 0.4132rem 1.0017rem rgba(0, 0, 0, 0.035), 0rem 0.2195rem 0.532rem rgba(0, 0, 0, 0.0282725), 0rem 0.0913rem 0.2214rem
                        /* 0px 13.7866px 33.4221px 0px 7.37098px 17.869px 0px 4.13211px 10.0172px 0px 2.19453px 5.32008px 0px 0.913195px 2.21381px */
                        rgba(0, 0, 0, 0.0196802);
                    border-radius: 1rem;
                    /* 10px */
                    display: flex;
                    flex-direction: column;
                }
            }

            &:hover {
                .history {
                    &-form {
                        &__group {
                            &-dropdown {
                                &:hover {
                                    opacity: 1;
                                    transition: 0.3s, opacity 1s;
                                    padding: 2rem 2rem 0 0;
                                    /* 20px 20px */
                                    top: 2rem;
                                    /* 20px */
                                }
                            }
                        }

                    }
                }
            }
        }
    }
    &__add {
        color: #05B135;
    }
}