.history {
    padding-bottom: 1rem;

    /* 10px */
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &-header {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 2.4rem;
        /* 24px */
        line-height: 2.4rem;
        /* 24px */
        margin-bottom: 3.2rem;
        @include breakpoint(small-mobile) {
            width: 100%;
            margin-bottom: 3rem;
            }
        /* 32px */
        svg {
            width: 2.4rem;
            height: 2.4rem;
            transform: rotate(-90deg);
            margin-left: 0.8rem;
            @include breakpoint(small-mobile) {
                margin-left: auto;
                }
        }
    }

    &-card {
        padding-bottom: 5rem;

        &__header {
            display: flex;
            width: 100%;
            padding-bottom: 1.7rem;
            /* 17px */
            border-bottom: 0.1rem
                /* 1px */
                solid rgba($color: #C1C1C1, $alpha: 0.3);
        }

        &__title {
            flex-grow: 1;
            font-weight: 500;
            font-size: 1.2rem;
            /* 12px */
            line-height: 1.4rem;
            /* 14px */
            color: #C1C1C1;
        }

        &__sum {
            font-size: 1.2rem;
            /* 12px */
            line-height: 1.4rem;
            /* 14px */
            color: #C1C1C1;
        }

        &-item {
            display: flex;
            width: 100%;
            margin-top: 2.3rem;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                background-color: #F5F5F5;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 103%;
                height: 140%;
                border-radius: 21px;
                z-index: -1;
                opacity: 0;
                transition: 0.3s;
                cursor: pointer;
            }
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
            &__img {
                margin-right: 1.7rem;
                /* 17px */
                width: 4rem;
                /* 40px */
                height: 4.1rem;
                /* 41px */
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    width: 2.2rem;
                    /* 22px */
                    height: 2.2rem;
                    /* 22px */
                }
            }
            &__header {
                margin-right: auto;
            }
            &__title {
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 1.9rem;
                margin-bottom: 0.4rem;
                @include breakpoint(small-mobile) {
                    font-size: 1.4rem;
                    max-width: 173px;
                    }
            }
            &__subtitle {
                font-size: 1.2rem;
                line-height: 1.4rem;
                color: #C1C1C1;
            }

            &__sum {
                position: relative;

                &--title {
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 1.9rem;
                    color: #2E2E2E;
                }

                &--subtitle {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    background-color: #F5F5F5;
                    border-radius: 1rem;
                    padding: 0.1rem 0.4rem 0.1rem 0.3rem;
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 1.2rem;
                    color: #C1C1C1;
                }
            }
        }
    }

    &-form {
        display: flex;
        align-items: center;
        margin-bottom: 4.4rem;
        @include breakpoint(small-mobile) {
            overflow-x: scroll;
            overflow-y: visible;
            margin-bottom: 3.3rem;
        }
        &__btn {
            background-color: #F5F5F5;
            border-radius: 1rem;
            padding: 0.7rem 1rem;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.4rem;
            color: #2E2E2E;
            margin-right: 1.5rem;
            transition: 0.3s;
            max-width: 14rem;
            &--active {
                background-color: #2E2E2E;
                color: #F5F5F5;
                transition: 0.3s;
                .history-form__group-cross-svg {
                    use {
                        fill: #fff;
                    }
                }
            }
        }
        &-setting {
            padding: 0.5rem 1rem;
            position: relative;
            background-color: #F5F5F5;
            border-radius: 1rem;
            margin-right: 3rem;
            transition: 0.3s;
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                top: -0.1rem;
                right: -0.2rem;
                width: 0.7rem;
                height: 0.7rem;
                background-color: #F1611F;
                border-radius: 100%;
            }
            @include breakpoint(small-mobile) {
                margin-right: 0.9rem;
                padding: .3rem 0.9rem;
            }
            svg {
                width: 2rem;
                height: 2rem;
            }

            &__dropdown {
                position: absolute;
                padding-top: 1.5rem;
                left: 0;
                z-index: -3;
                opacity: 0;
                height: 0.1rem;
                overflow: hidden;
                transition: 0.2s;
            }

            &__inner {
                box-shadow: 0rem 1.3787rem 3.3422rem rgba(0, 0, 0, 0.0503198), 0rem 0.7371rem 1.7869rem rgba(0, 0, 0, 0.0417275), 0rem 0.4132rem 1.0017rem rgba(0, 0, 0, 0.035), 0rem 0.2195rem 0.532rem rgba(0, 0, 0, 0.0282725), 0rem 0.0913rem 0.2214rem rgba(0, 0, 0, 0.0196802);
                border-radius: 1.5rem;
                background-color: #fff;
                color: #C1C1C1;
                padding: 0 1.4rem 3rem 3rem;
            }
            &__item {
                display: flex;
                flex-direction: column;
                &--title {
                    font-weight: 500;
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    color: #C1C1C1;
                    margin-top: 3rem;
                    margin-bottom: 1.9rem;
                    }
                &--wrapper {
                    display: flex;
                    @include breakpoint(small-mobile) {
                        display: flex;
                        flex-wrap: wrap;
                                }
                    input {
                        background-color: #F5F5F5;
                        border-radius: 1rem;
                        font-weight: 500;
                        font-size: 1.2rem;
                        color: #2E2E2E;
                        width: 14rem;
                    }
                    }
                &--btn {
                        background-color: #F5F5F5;
                        border-radius: 1rem;
                        padding: 0.7rem 1rem;
                        font-weight: 500;
                        font-size: 1.2rem;
                        color: #2E2E2E;
                        margin-right: 1rem;
                        white-space: pre;
                        &:last-child {
                            margin-right: 0;
                        }
                        @include breakpoint(small-mobile) {
                            margin-bottom: 1rem;
                                 }
                    }

                
            }
            .card {
                &-item {
                    @include breakpoint(small-mobile) {
                        height: 6.2rem;
                          }
                }    
                &-content {
                    &__subtitle {
                        color: rgba($color: #2E2E2E, $alpha: 0.6);
                    }
                    &__title {
                        color: #2E2E2E;
                        span {
                            color: rgba($color: #2E2E2E, $alpha: 0.6);
                        }
                    }
               }
               &-checkbox {
                   margin-left: auto;
                   margin-right: 2.6rem;
                   input {
                       display: none;
                       transition: 0.3s;
                       &:checked + .card-checkbox__false::before {
                           opacity: 1;
                           transition: 0.3s;
                       }
                   }
                   &__false {
                        background-color: #F5F5F5;
                        width: 3rem;
                        height: 3rem;
                        display: block;
                        border-radius: 100%;
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            border-radius: 100%;
                            background-color: #F1611F;
                            background-image: url(/img/icons/checkmark.svg);
                            background-repeat: no-repeat;
                            background-position: center center;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }
                   }
               }
            }
            .history-form__btn--active {
                background-color: #2E2E2E;
                color: #F5F5F5;
                transition: 0.3s;
            }
        }
        &--active {
            .history-form-setting__dropdown {
                opacity: 1;
                z-index: 3;
                height: auto;
                overflow: visible;
                transition: 0.2s;
            }
            .history-form__group-dropdown {
                opacity: 1;
                z-index: 3;
                height: auto;
                overflow: visible;
                transition: 0.2s;
            }
        }
        &__group {
            position: relative;
            &-cross {
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.4rem;
                display: flex;
                align-items: center;
                @include breakpoint(small-mobile) {
                    min-width: 122px;
                 }
                span {
                    font-weight: 500;
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    margin-left: 0.1rem;
                }
                &-svg {
                    use {
                        fill: #000;
                    }
                }
            }
            &-btn {
                background-color: #F5F5F5;
                border-radius: 1rem;
                padding: 0.7rem 1rem;
                font-weight: 500;
                font-size: 1.2rem;
                line-height: 1.4rem;
                color: #2E2E2E;
                margin-right: 1.5rem;
                transition: 0.3s;
                max-width: 14rem;
                svg {
                    width: 1.6rem;
                    height: 1.6rem;
                    fill: #fff;
                }
            }

            &-dropdown {
                position: absolute;
                padding-top: 1.5rem;
                left: 0;
                z-index: -3;
                opacity: 0;
                height: 0.1rem;
                overflow: hidden;
                border-radius: 1.5rem;
                transition: 0.2s;
                @include breakpoint(small-mobile) {
                    left: -298%;
                }
                &-inner {
                    box-shadow: 0rem 1.3787rem 3.3422rem rgba(0, 0, 0, 0.0503198), 0rem 0.7371rem 1.7869rem rgba(0, 0, 0, 0.0417275), 0rem 0.4132rem 1.0017rem rgba(0, 0, 0, 0.035), 0rem 0.2195rem 0.532rem rgba(0, 0, 0, 0.0282725), 0rem 0.0913rem 0.2214rem rgba(0, 0, 0, 0.0196802);
                    border-radius: 1.5rem;
                    background-color: #fff;
                    color: #C1C1C1;
                    padding: 0 1.4rem 3rem 3rem;
                    display: flex;
                    flex-direction: column;
                    
                }
                .card {
                    &-item {
                        width: 32.7rem;
                    }
                    &-content {
                        &__subtitle {
                         color: rgba($color: #2E2E2E, $alpha: 0.6);
                        }
                        &__title {
                         color: #2E2E2E;
                         span {
                             color: rgba($color: #2E2E2E, $alpha: 0.6);
                         }
                        }
                    }
                    &-checkbox {
                        margin-left: auto;
                        margin-right: 2.6rem;
                        input {
                            display: none;
                            transition: 0.3s;
                            &:checked + .card-checkbox__false::before {
                                opacity: 1;
                                transition: 0.3s;
                            }
                        }
                        &__false {
                             background-color: #F5F5F5;
                             width: 3rem;
                             height: 3rem;
                             display: block;
                             border-radius: 100%;
                             position: relative;
                             &::before {
                                 content: '';
                                 position: absolute;
                                 border-radius: 100%;
                                 background-color: #F1611F;
                                 background-image: url(/img/icons/checkmark.svg);
                                 background-repeat: no-repeat;
                                 background-position: center center;
                                 width: 100%;
                                 height: 100%;
                                 opacity: 0;
                             }
                        }
                    }
                 }
            }
        }
        input {
            text-align: center;
            @include breakpoint(small-mobile) {
                width: 140px;
            }
        }
    }
    &__add {
        color: #05B135;
    }
}